{% extends "main/account.html" %}
{% load static%}
{% block title%}
<title>Update Profile | Qycs Global Shipping Inc. | English Official Website </title>
{% endblock%}

{% block account_content %}

<div class="w3-cell w3-container w3-mobile">
    <h2>Address Book:</h2>
      Use get_absolute_url would be better inseat of using address.id but how?<br/>
      Identify error to load this page in cmd?
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% else %}
        {% endif%}

<!-- display default address -->
    <div class="w3-card-2 w3-round w3-container ">
        {% if user.userprofile.default_address %}
            <h4>{{user.userprofile.default_address.location_name}}</h4>
            {% if not user.userprofile.default_address.follow_user_infor %}
                <h5>{{user.userprofile.default_address.last_name}}, {{user.userprofile.default_address.first_name}}(Default)</h5>

                    {% if user.userprofile.default_address.phone and user.userprofile.default_address.email %}
                        {{user.userprofile.default_address.phone}} |
                        {{user.userprofile.default_address.email}}<br/>
                    {% elif user.userprofile.default_address.phone or user.userprofile.default_address.email%}
                        {{user.userprofile.default_address.phone}} {{user.userprofile.default_address.email}}<br/>
                    {% endif %}



            {% else %}
                (Default)<br/>
            {% endif %}
            {{user.userprofile.default_address.address}}<br/>
            {{user.userprofile.default_address.apt}}<br/>
            {{user.userprofile.default_address.city}}<br/>
            {{user.userprofile.default_address.state}}<br/>
            {{user.userprofile.default_address.zipcode}}<br/>
            {{user.userprofile.default_address.country}}<br/>

            <button type="button" class="edit_btn" onclick="window.location.href='{{user.userprofile.default_address.get_absolute_url.edit}}'">Edit</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{user.userprofile.default_address.get_absolute_url.delete}}'">Delete</button>
        {% endif %}
  </div>


<!-- display other addresses -->
{% if user.address_set.all %}{% for address in user.address_set.all %}
{% if address != user.userprofile.default_address%}
    <div class="w3-card-2 w3-round w3-container">
        <h4>{{address.location_name}}</h4>
        {% if not address.follow_user_infor %}
            <h5>{{address.last_name}}, {{address.first_name}}</h5>

                {% if address.phone and address.email%}
                    {{address.phone}} | {{address.email}}<br/>
                {% elif address.phone or address.email%}
                    {{address.phone}}{{address.email}}<br/>
                {% endif %}


        {% endif %}
            {{address.address}}<br/>
            {{address.apt}}<br/>
            {{address.city}}, {{address.state}} {{address.zipcode}}<br/>
            {{address.country}}<br/>
            <button type="button" class="edit_btn" onclick="window.location.href='{{address.get_absolute_url.edit}}'">Edit</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.delete}}'">Delete</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.set_default}}'">Set as Default Address</button>
    </div>

{% endif %}{% endfor %}{% endif %}

</div>
<div class="w3-cell w3-container w3-mobile">
    {% include "blocks/new_address_form.html" with addform=addform%}
</div>
{% endblock %}

{% block script%}

<script type="text/javascript">

$(document).ready(function(){
  $("input").focus(function(){
    $(this).val('');
  });
  $('input[type=checkbox]').prop('checked');

  $(".add_cancel_btn").click(function(){
      window.location.href = document.referrer;
  });

})//end of ready


</script>



{% endblock%}
