{% extends "main/base.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block content %}
<div class="w3-container">
{% if user.is_authenticated %}
	<h1>Page not found!</h1>

		
{% else %}
<h1>Enter new password</h1>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Change my password" />
<br/>
</form>
{% endif %}
</div>
{% endblock %}