{% extends "main/account.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block account_content %}
    <div class="w3-cell w3-container">
        <h2> Update My Profile</h2>
        <ul class="messages">
            {% if messages %}

                {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}

            {% endif %}
            {% if form.errors %}

                {% for message in form.errors%}
                 <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}

            {% endif %}
        </ul>

        <form method = "post">
        {% csrf_token %}
            {% include "main/profile_block.html"%}
            <div class = "w3-container">
                <h4>Default Address:</h4>
                {% include "main/address_block_all.html" with addform=addform%}
            </div>

            <div class = "w3-container">
                <h4>Default Collection Point:</h4>
                {% if user.userprofile.default_col %}
                    {% if not user.collectionpoint %}
                        <button type="button" id="change_col_btn"> Change</button><br/>
                    {% endif %}
                    <div id="default_col_card" class="w3-card-2 w3-round w3-mobile w3-container" style="width:500px">
                        <h4>{{user.userprofile.default_col.name}}
                            {% if user.userprofile.default_col.store %}
                                (Store)
                            {% else %}
                                (Personal Place)
                            {% endif %}
                        </h4>
                            {{user.userprofile.default_col.address}}<br/>
                            {{user.userprofile.default_col.apt}}<br/>
                            {{user.userprofile.default_col.city}}, {{user.userprofile.default_col.state}} {{user.userprofile.default_col.zipcode}}<br/>
                            {{user.userprofile.default_col.country}}<br/>
                    </div>

              {% else %}
                  <button id="select_col_btn"> Select a Collection Point</button>
              {% endif %}

              <div id="collection_points_list" class="w3-cell-row" style="display: none">
                {% include "main/sellect_collection_point.html" with col_list=col_list%}
              </div>
        </div>

        <input type="submit" value="Update">
        <button type="button" onclick="window.location.href = document.referrer">Cancel</button>
    </form>
</div>
{% endblock %}


{% block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $("input").focus(function(){
          $(this).val('');
        });
        $("#add_new_address_btn").click(function(){
          $('#address_from_block').show();
          $('#address_from_block').hide().slideDown(500);
          $('#default_address_block').hide();
        });
        $("#select_address_btn").click(function(){
             $('#address_book_block').show();
             $('#address_book_block').hide().slideDown(500);
             $('#default_address_block').hide();
        });
        $(".add_cancel_btn").click(function(){
             $('#default_address_block').show();
             $('#default_address_block').hide().slideDown(500);
             $('#address_from_block').hide();
        });
        $(".select_add_cancel_btn").click(function(){
             $('#default_address_block').show();
             $('#default_address_block').hide().slideDown(500);
             $('#address_book_block').hide();
        });

        // $("#select_col_btn").click(function(){
        //      $("#collection_points_list").show();
        //      $("#select_col_btn").remove();
        //
        // });
        // $("#change_col_btn").click(function(){
        //      $("#collection_points_list").show();
        //      $("#change_col_btn").remove();
        //      $("#default_col_card").remove();
        //
        // });
    })


</script>
{% endblock %}
