{% extends "main/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}


{% block title %}<div class="w3-container">{{ title }}</div>{% endblock %}
{% block content_title %}}<div class="w3-container"><h1>{{ title }}</h1></div>{% endblock %}
{% block content %}
<div class="w3-container">
    <p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
