{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{{collector.name}}
{% endblock%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block content %}
<div class="w3-panel w3-mobile">
    <div class="w3-panel w3-col-row w3-mobile">
        <div class = "w3-card-4 w3-third w3-mobile" style="max-width:300px;">
          {% if collector.collector_icon%}
              <img alt="collection point icon" src="{{collector.collector_icon.url}}" style="width:100%; margin:auto;">
          {% else %}
              <img alt="user icon" src="{% static 'image/user_icon.png' %}" style="width:100%; margin:auto;">
          {% endif %}
        </div>

        <div class = "w3-half w3-container w3-mobile">
            <h2>{{collector.name}} ({% if collector.store %}{% trans 'Store Name' %}: {{collector.store_name}}
              {% else %}{% trans 'Personal Place' %}{% endif %})</h2>
            <h3>
              {% if not collector.status %}
                <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:20px;"/>
                {% trans 'Not Avaliable!' %}
              {% else %}
                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:20px;"/>
                {% trans 'Good Service!' %}
              {% endif %}
            </h3>
            <h4>
            </h4>
            <h4>{% trans 'Food Package' %}: {% if collector.food %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:20px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:20px;"/> {% endif %} </h4>
            <h4>{% trans 'Regular Package' %}: {% if collector.regular %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:20px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:20px;"/> {% endif %} </h4>
            <h4>{% trans 'Luxury Package' %}: {% if collector.luxury %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:20px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:20px;"/> {% endif %} </h4>
          <h5>
            {{collector.address}} {% if collector.apt %}({{collector.apt}}){% endif %} {{collector.city}}, {{collector.state}} {{collector.zipcode}}
          </h5>
          {% if user.collectionpoint %}<button type="button" onclick="window.location.href='{% url 'collector_update'%}'">{% trans 'Update Profile' %}</button>
          {% else %}<button type="button">{% trans 'get direction' %}</button>{% endif %}
          <button type="button" onclick="window.location.href='{{collector.get_absolute_url.add_co_shipping}}'">{% trans 'ship package' %}</button>
      </div>
      <div class = "w3-card-2 w3-col w3-container aside-bar-background-color w3-mobile w3-right" style="width:220px;">
        <h5>{% trans 'Schedule' %}</h5>
        {% if collector.absent_start %}
          {% blocktrans %}
          Not avaliable from {{collector.absent_start|date:"M d, Y"}} to  {{collector.absent_end|date:"M d, Y"}}
          {% endblocktrans %}
        <br/>
        {% endif %}
          <div class = "w3-col-row w3-mobile">
            <div class="w3-col" style="width:100px;">{% trans 'Monday' %}: </div><div class="w3-rest">{{collector.mon_start}} - {{collector.mon_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Tuesday' %}: </div><div class="w3-rest">{{collector.tue_start}} - {{collector.tue_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Wednesday' %}: </div><div class="w3-rest">{{collector.wed_start}} - {{collector.wed_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Thursday' %}: </div><div class="w3-rest">{{collector.thu_start}} - {{collector.thu_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Friday' %}: </div><div class="w3-rest">{{collector.fri_start}} - {{collector.fri_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Saturday' %}: </div><div class="w3-rest">{{collector.sat_start}} - {{collector.sat_end}}</div>
            <div class="w3-col" style="width:100px;">{% trans 'Sunday' %}: </div><div class="w3-rest">{{collector.sun_start}} - {{collector.sun_end}}</div>
          </div>
      </div>
  </div>
    <hr>
    <div class="w3-panel w3-cell-row">
      <div class="w3-col" style="width:100px;">
      {% trans 'Instruction' %}
      </div>
      <div class="w3-rest">{{collector.description}}</div>
    </div>
    <div class="w3-panel">
      <form method="post">
        {% csrf_token %}

          <div style="display:block;">
              <a class="block_link" href="javascript:void(0)" onclick="openBlock(event, 'Reviews');">
                <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red w3-text-black"><h5>{% trans 'Reviews' %}</h5></div>
              </a>
              <a class="block_link" href="javascript:void(0)" onclick="openBlock(event, 'Questions');">
                <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-text-black"><h5>{% trans 'Questions' %}</h5></div>
              </a>
          </div>

          <textarea class="w3-input w3-border w3-panel" name="message" id="id_message"></textarea>
          <div id="Reviews" class="message_block">
              <div class="submit-row"><button type="submit" name="review">{% trans 'Save Review' %}</button></div>

            {% if collector.review_set.all %}
            {% for review in collector.review_set.all %}
              <div class="w3-card-2 w3-panel" id="review_block_{{review.id}}">
                  <div class="w3-row w3-mobile">
                        <div class="w3-col w3-center" style="width:70px;">
                          <img alt="user icon" src="{% static 'image/user_icon.png' %}" width="60" height="60"><br/>
                          {{review.creater.username}}
                        </div>
                        <div class="w3-rest w3-panel">
                            <div class="w3-row">{{review.review|linebreaks}}</div>
                            {% if review.reviewresponse_set.all %}
                                {% for response in review.reviewresponse_set.all %}
                                <div class="w3-row w3-container">
                                    <div class="w3-text-blue">{% trans 'Response By ' %}{{response.creater.username}} {% trans 'on' %} {{response.created}}</div>
                                    <div class="w3-padding-small">{{response.meaasage|linebreaks|safe}}</div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div class="w3-right w3-row">
                              <button type="button" class="w3-right response_btn_{{review.id}}" onclick="AddResponseForm('{{review.id}}','review')">
                                {% trans 'response' %}
                              </button>
                            </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>

      <div id="Questions" class="message_block" style="display:none">
        <div class="submit-row"><button type="submit" name="question">{% trans 'Save Question' %}</button></div>

        {% if collector.question_set.all %}
        {% for question in collector.question_set.all %}

           {% if question.creater.pk == user.pk%}
                <div class="w3-card-2 w3-panel" id="question_block_{{question.id}}">
                  <div class="w3-row w3-mobile">
                      <div class="w3-col w3-center" style="width:70px;">
                        <img alt="user icon" src="{% static 'image/user_icon.png' %}" width="60" height="60"><br/>
                        {{question.creater.username}}
                      </div>
                      <div class="w3-rest w3-panel">
                          <div class="w3-row">{{question.question|linebreaks|safe}}</div>
                          {% if question.questionresponse_set.all %}
                              {% for response in question.questionresponse_set.all %}
                              <div class="w3-row w3-container">
                                  <div class="w3-text-blue">{% trans 'Response By ' %}{{response.creater.username}} {% trans 'on' %} {{response.created}}</div>
                                  <div class="w3-padding-small">{{response.meaasage|linebreaks}}</div>
                              </div>
                              {% endfor %}
                          {% endif %}
                          <div class="w3-right w3-row">
                            <button type="button" class=" w3-right response_btn_{{question.id}}" onclick="AddResponseForm('{{question.id}}','question')">
                              {% trans 'response' %}
                            </button>
                          </div>
                        </div>
                      </div>
                  </div>
              {% endif %}
        {% endfor %}
        {% endif %}
        </div>

      </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block script%}
<script>

function AddResponseForm(id, type){

    let content = '<div class="w3-row response_block" id="response_block_'+
    id+
    '">'+
    '<textarea class="w3-input w3-border" name="'+
    type+
    '" id="response_txt"/>'+
    '<button type="button" class="w3-right" onclick="submitForm('+
    id+
    ')">Save</button></div>'
    if($('.response_block').length>0){
        $('.response_block').remove();
    }
    if($('#response_block_'+id).length==0){
        $('#'+type+'_block_'+id).append(content);
        $('#response_block_'+id).hide().slideDown(500);
        $('.response_btn_'+id).hide();

    }
}


function openBlock(evt, blockName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("message_block");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(blockName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}

$(document).ready(function(){
    $(".block_link").click(function(){
      if($('.response_block').length>=1){
        $('.response_block').remove();
      }
    });
    $("#id_message").click(function(){
      if($('.response_block').length>0){
          $('.response_block').remove();
      }
    });
})


function submitForm(id){
    let response={'csrfmiddlewaretoken': '{{csrf_token}}',
                    'type':$('#response_txt').attr('name'),
                    'response_for': id,
                    'response':$('#response_txt').val(),
                  };
    $.ajax({
      type: "POST",
      url: '/collectionpoint/{{collector.pk}}/view',
      data: response,
      success: function(){
        location.reload();
      },
      failure: function(){
        location.reload();
        console.log('failure to insert the response');
      },
    });
  }
</script>
{% endblock %}
