{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
Update Profile | Qycs Global Shipping Inc. | English Official Website
{% endblock%}


{% block messages %}
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


{% block content %}
<div class="w3-panel">
    <div class="w3-row">
        <div class = "w3-card-4 w3-third" style="width:400px; height:400px">
          collection point image show here
          {% if collector.location_image %}
            <img src = "{{collector.location_image.url}}" style="max-width:100%; max-height:100%;">

          {% endif %}
        </div>

    <div class = "w3-rest w3-container">
          <h2>{{collector.name}}</h2>
          <h4>{% if collector.store %}Store Name:{{collector.store_name}}
            {% else %}Personal Place{% endif %}
          </h4>
          <h4>Food Package: {% if collector.food %}YES {% else %} NO {% endif %} </h4>
          <h4>Regular Package: {% if collector.regular %}YES {% else %} NO {% endif %} </h4>
          <h4>Luxury Package: {% if collector.luxury %}YES {% else %} NO {% endif %} </h4>
        <h5>
          {{collector.address}} {% if collector.apt %}({{collector.apt}}){% endif %} {{collector.city}}, {{collector.state}} {{collector.zipcode}}
        </h5>
        <button type="button">get direction</button>
    </div>

  </div>


<div class="w3-panel">
  <form method="post">
    {% csrf_token %}

<div class="w3-row">
    <a class="block_link" href="javascript:void(0)" onclick="openBlock(event, 'Reviews');">
      <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red w3-text-black"><h5>Reviews</h5></div>
    </a>
    <a class="block_link" href="javascript:void(0)" onclick="openBlock(event, 'Questions');">
      <div class="w3-half tablink w3-bottombar w3-hover-light-grey w3-padding w3-text-black"><h5>Questions</h5></div>
    </a>
  </div>

<textarea class="w3-input w3-border w3-panel" name="message"></textarea>
  <div id="Reviews" class="message_block">
    <button type="submit" name="review" value="">Save Review</button>

    {% if collector.review_set.all %}
    {% for review in collector.review_set.all %}
      <div class="w3-container w3-card-2" >
          {{review.creater.username}}: {{review.review}}
          <button type="button" class="w3-right response_btn_{{review.id}}" onclick="AddResponseForm('{{review.id}}','review')">response</button>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  <div id="Questions" class="message_block" style="display:none">
    <button type="submit" name="question" value="">Save Question</button>

    {% if collector.question_set.all %}
    {% for question in collector.question_set.all %}
       {% if question.creater.pk == user.pk%}
        <div class="w3-container w3-card-2" >
            {{question.creater.username}}: {{question.question}}
            <button type="button" class=" w3-right response_btn_{{question.id}}" onclick="AddResponseForm('{{question.id}}','question')">response</button>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
  </div>

</div>


</form>
</div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block script%}
<script type="text/javascript">

function AddResponseForm(id, type){

    let content = '<div class="w3-row response_block" id="response_block_'+
    id +
    '"><textarea class="w3-input w3-border" name="message" />'+
    '<input type="hidden" name="response_for", value="'+
    id +
    '"><button type="submit" name="'+
    type+
    '" value="response">Save</button></div>'

    if($('#response_block_'+id).length==0){
        $('.response_btn_'+id).after(content);
    }
}


function openBlock(evt, blockName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("message_block");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(blockName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}

$(document).ready(function(){
    $(".block_link").click(function(){
      if($('.response_block').length>=1){
        $('.response_block').remove();
      }
    });
})


function submitForm(){
    let addobject={'csrfmiddlewaretoken': '{{csrf_token}}',
                    'data':$('#newAddressForm_js').serialize()
                  };

    $.ajax({
      type: "POST",
      url: '',
      data: addobject,
      success: function(data){

      },
      failure: function(data){

      },
    });
  }
</script>
{% endblock %}
