{% extends "main/base.html" %}


{% block content %}
	<div class="w3-cell aside-bar-background-color w3-mobile">
		<div class="w3-bar-block">

		    <a class="w3-bar-item w3-hover-purple" href="{% url 'userprofile' %}">User Information</a>
		    <a class="w3-bar-item w3-hover-purple" href="{% url 'useraddress' %}">Address List</a>
		    <a class="w3-bar-item w3-hover-purple" href="{% url 'userpackage' %}">Packages History</a>
		    <a class="w3-bar-item w3-hover-purple" href="{% url 'userwallet' %}">Wallet</a>
		    <a class="w3-bar-item w3-hover-purple" href="/accounts/logout/">Logout</a>
		</div>
	</div>

	{% block account_content%}
	<div class="w3-cell w3-container w3-mobile">

			<h2>{{user.username}}</h2>
				First Name: {{user.first_name}}<br/>
				Last Name: {{user.last_name}}<br/>
				Email address:{{user.email}}
				{% if not user.bound_email%}
					<a>To Bound my Email (this will send a request to the user's email)</a>
				{% endif %}<br/>
				Phone Number: {{user.userprofile.phone}}<br/>
				Birthday: {{user.userprofile.birthday|date:"M d, Y" }}<br/>
			<h3>Default Address</h3>
				{% if not user.userprofile.default_address.follow_user_infor %}
					First Name: {{user.userprofile.default_address.first_name}}<br/>
					Last Name: {{user.userprofile.default_address.last_name}}<br/>
					Email address: {{user.userprofile.default_address.email}}<br/>
					Phone Number: {{user.userprofile.default_address.phone}}<br/>
				{% endif %}
				
				Street: {{user.userprofile.default_address.address}}<br/>
				Apartment: {{user.userprofile.default_address.apt}}<br/>
				City: {{user.userprofile.default_address.city}}<br/>
				State: {{user.userprofile.default_address.state}}<br/>
				Zip Code: {{user.userprofile.default_address.zipcode}}<br/>
				Country: {{user.userprofile.default_address.country}}<br/>

				{% if user.userprofile.default_col%}
				<div class="w3-row">
					<h3>Default Collection Point</h3>
					<div class="w3-card-2 w3-round w3-half w3-container">
						<div class="w3-half">
							<h4>{{user.userprofile.default_col.name}}
                            {% if user.userprofile.default_col.store %}
                                (Store)
                            {% else %}
                                (Personal Place)
                            {% endif %}</h4>
                            {{user.userprofile.default_col.address}}<br/>
                            {{user.userprofile.default_col.apt}}<br/>
                            {{user.userprofile.default_col.city}}, {{user.userprofile.default_col.state}} {{user.userprofile.default_col.zipcode}}<br/>
                            {{user.userprofile.default_col.country}}<br/>

                           
                        </div>

                        <div class="w3-half">
                            {% if user.userprofile.default_col.image%}
                                <img src = "{{user.userprofile.default_col.image.url}}" style="width:100%">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
			<button><a href="{% url 'updateprofile'%}"> Update Profile</a></button>
			<button><a href="{% url 'changepassword'%}"> Change Password</a></button><br/><br/>
			
		</div>
	{% endblock %}
{% endblock %}