{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{{user.username}}{% trans "'s Profile'" %}
{% endblock%}



{% block content %}
<div class="w3-panel">

					<h2>{{user.username}}
					{% if user.collectionpoint %}
					({% trans 'Collector' %})
					{% endif %}</h2>
						{% if not user.collectionpoint %}
						<button type = "button" onclick="window.location.href = '{% url 'colregister'%}'"> {% trans 'Register as Collector' %}</button><br/>
						{% endif%}
						<div class = "w3-container">
								{% trans 'First Name' %}: {{user.first_name}}<br/>
								{% trans 'Last Name' %}: {{user.last_name}}<br/>
								{% trans 'Email address' %}: {{user.email}}

								{% if not user.email_confirmed %}
									<br/><a class="w3-text-blue" href="{% url 'send_confirmation_email' %}">
										{% trans "You havn't confirmed your email yet. Please click here to send a Confirmation link to your email." %}
									</a></br/>
								{% else %}
								<span>({% trans 'email confirmed' %})</span><br/>
								{% endif %}

								{% trans 'Phone Number' %}: {{user.phone}}<br/>
								{% trans 'Birthday' %}: {{user.birthday|date:"M d, Y" }}<br/>
								{% trans 'Country' %}: {{user.country }}<br/>

								{% trans 'Preferred language' %}: {{user.language }}<br/>
								<h4>{% trans 'Default Address' %}</h4>

									{% if user.default_address %}
												{% include "blocks/default_address_card.html" with add=user.default_address%}
									{% else %}
											{% trans 'No default address!' %}
									{% endif %}

		            <div class="w3-row">
									<h4>{% trans 'Default Collection Point' %}</h4>
										{% if user.default_col%}
												{% include "blocks/default_col_card.html" with col=user.default_col%}
										{% else %}
												{% trans 'No default Collection Point!' %}
		                {% endif %}
							</div>
					</div>
					<button type = "button" onclick="window.location.href = '{% url 'updateprofile'%}'">{% trans 'Update Profile' %}</button>
					<button type = "button" onclick="window.location.href = '{% url 'changepassword'%}'">{% trans 'Change Password' %}</button>


</div>
{% endblock %}
