{% extends "main/base.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block content %}
<h1> Add Package</h1>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if formset.errors %}
<ul class="formset.errors">
    {% for message in formset.errors %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="col-md-4">
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}

{{ itemset.management_form }}

{% for form in itemset.forms %}
        <table class="table" >
                <tr class="{% cycle 'row1' 'row2' %} formset_row">
                    
                    <td style = "border: 2px solid black; padding: 10px; margin: 10;">

                        {% for field in form.visible_fields %}
                        {{ field.label|capfirst }}: {{field}}<br/>
                        {% endfor%}
                    <td>
                </tr>       
        </table>
{% endfor %}


<input type="submit" value="Save"/>


</form>
</div>




{% endblock %}

{% block script%}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'add Item',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
</script>

{% endblock%}