{% extends "main/base_site.html" %}
{% load i18n static %}



{% block title%}
    {% trans 'Add Package' %}
{% endblock%}

{% block messages %}
{% endblock messages %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/multistepform.css'%}"/>
{% endblock %}


{% block content %}


<div class="w3-cell-row w3-mobile content_center">
  {% if form.ship_carrier %}
  <div class="text-xxlarge-bold w3-panel">{% trans 'Direct Shipping' %}</div>
  {% else %}
  <div class="text-xxlarge-bold w3-panel">{% trans 'Co-shipping' %}</div>
  {% endif %}


  <div id="message_block">
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}

    {% if form.errors or receiverform.errors or itemset.errors %}
        <p class="errornote">
        {% trans "Please correct the error(s) below." %}
        </p>
    {% endif %}
  </div>

</div>



<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="tab">
        <div class="w3-col-row w3-mobile">
              <div class="w3-col w3-container m6 l6">
                    <div class="w3-container w3-mobile content_left">
                      <div class="text-medium">{% trans 'Ship to' %}</div>
                    </div>
                    <hr/>
                    <div class="w3-container w3-mobile content_left">
                          {% if form.ship_carrier %}
                            <div class="w3-row">

                                {{ form.ship_carrier.label_tag }}{{ form.ship_carrier.errors }}{{ form.ship_carrier }}
                            </div>
                            <div class="w3-row">
                                {{ form.no_rush_request.errors }}
                                {{ form.no_rush_request }}&emsp;{% trans 'No Rush Shipping (Double Points)' %}
                            </div>
                          {% endif %}
                          <div class="w3-row">
                                {{ form.low_volume_request.errors }}
                                {{ form.low_volume_request }}&emsp;{% trans "Minimize this package's volume" %}
                          </div>
                          {% block shippingset %} {% endblock%}
                    </div>
              </div>
              <div class="w3-col w3-container m6 l6">
                    <div class="w3-container w3-mobile content_right">
                      <div class="text-medium">{% trans 'Ship from' %}</div>
                    </div>
                    <hr/>
                    <div class="w3-container w3-mobile content_right">
                        <div class="w3-row">
                          {{ form.wh_received.label_tag }} {{ form.wh_received.errors }} {{ form.wh_received }}
                        </div>
                        <div class="w3-row">
                          {{ form.cust_carrier.label_tag }}  {{ form.cust_carrier.errors }} {{ form.cust_carrier }}
                        </div>
                        <div class="w3-row">
                          {{ form.cust_tracking_num.label_tag }} {{ form.cust_tracking_num.errors }} {{ form.cust_tracking_num }}
                        </div>

                        <div class="w3-row">
                          {{ form.memo.label_tag }} {{ form.memo.errors }} {{ form.memo }}
                        </div>
                    </div>
              </div>
          </div>
      </div>
      <div class="tab">
          <div class="content_center">
              <div class="text-medium w3-center">{% trans 'Package Items Detail' %}</div>
          </div>
          <hr/>
          <div class="content_center" id="item_information_block">

              <div class="w3-panel w3-container" id="add_snapshot_form">
                    <div class="text-medium">{% trans 'Add Order Snapshot of the Package' %}</div>
                    <div class="w3-row">
                        <label class="ui_button logo-red" for="id_image">{% trans 'Upload Snapshot(s)' %}</label>
                        <input name="image" class="w3-input w3-border" id="id_image" type="file" accept="image/*" style="position:absolute;clip:rect(0 0 0 0);" multiple="">
                    </div>
              </div>
              <div class="w3-panel w3-center text-medium-bold">{% trans 'OR' %}</div>
              <div id = "add_item_form" class="w3-container" style="margin:auto;">
                  <div class="text-medium">{% trans 'Add details of each item in the package' %}</div>
                  <hr/>
                  {{ itemset.management_form }}
                  {% if itemset.forms %}
                      {% for subform in itemset.forms %}
                          <table style="width:95%; margin:auto;" id="item_table">
                                    <tr class="itemset_row w3-cell-row"><th  class="w3-cell" style="width:5%;">{% trans 'Item' %}#<span class="item_num">1</span></th>
                                      <td class="w3-cell w3-rest">
                                          <div class="w3-container">
                                            {{ subform.item_name.label_tag }} {{ subform.item_name.errors }} {{ subform.item_name }}
                                          </div>
                                          <div class="w3-col-row">
                                              <div class="w3-col w3-container" style="width:100px;">
                                                {{ subform.item_quantity.label_tag }} {{ subform.item_quantity.errors }} {{ subform.item_quantity }}
                                              </div>
                                              <div class="w3-third w3-container">
                                                {{ subform.item_detail.label_tag }} {{ subform.item_detail.errors }} {{ subform.item_detail }}
                                              </div>
                                              <div class="w3-rest w3-container">
                                                {{ subform.item_url.label_tag }} {{ subform.item_url.errors }} {{ subform.item_url }}
                                              </div>
                                          </div>
                                          <div class="w3-container">
                                            {{ subform.low_volume_request.errors }}
                                            {{ subform.low_volume_request }}{% trans "Minimize this item's volume" %}
                                          </div>
                                          <div class="w3-container">
                                            {{ subform.memo.label_tag }}{{ subform.memo.errors }}{{subform.memo}}
                                          </div>
                                      </td>
                                  </tr>
                          </table>
                      {% endfor %}
                  {% endif %}
          </div>

        </div>

    </div>
    <div class="w3-row content_center">
      <div class="w3-center">

        <button type="button" class="logo-blue" id="prevBtn">{% trans "Go Back" %}</button>
        <button type="button" class="logo-red" id="nextBtn">{% trans "Next" %}</button>
        <span id="submit_block">
          <input class="logo-blue" type="submit" name="next" value="{% trans 'Save and add new package' %}" />
          <input class="logo-red" type="submit" name="finish" value="{% trans 'Submit' %}"/>
        </span>
      </div>
    </div>

</form>
<script src="{% static 'js/packageset.js' %}"></script>
{% endblock %}




{% block script%}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
$(document).ready(function(){
  $('.itemset_row').formset({
    addText: gettext('add Item'),
    deleteText: gettext('remove'),
    prefix: 'item_set'
  });
  $("#follow_user_infor").click(function(){
       $('#id_first_name').val('{{user.first_name}}');
			 $('#id_last_name').val('{{user.last_name}}');
			 $('#id_phone').val('{{user.phone}}');
  });
	$("#use_last_infor").click(function(){
			 $('#id_first_name').val('{{user.service_set.first.receiver.first_name}}');
			 $('#id_last_name').val('{{user.service_set.first.receiver.last_name}}');
			 $('#id_phone').val('{{user.service_set.first.receiver.phone}}');
	});
  	$(".add-row").click(function(){
      $('table').find('.item_num').each(function(){
        $(this).text(parseInt($(this).parents('tr').find('.item_name').prop('id').split('-')[1])+1);
      });
    });

    $('#id_image').change(function(){
        $('#images_view').remove();
        var files = $(this).prop('files');
        if(files.length > 0){
          var viewblock = document.createElement("div");
          viewblock.setAttribute("id", "images_view");
          $(this).after(viewblock);

          for (i = 0; i < files.length; i++) {
              var type = files[i].type.split('/')[0];

              var size = Math.round(files[i].size / 1024 / 1024);
              if (type !='image') {
                  alert(gettext('Images only, please try again.'));
                  return;
              }
              if (size > 3) {
                  alert(gettext('The maxium size of each image is 3M, please try again.'));
                  return;
              };
              var reader = new FileReader();//creat FileReader for each images
              reader.readAsDataURL(files[i]);
              reader.onload=function(e){
                    var img = document.createElement("img");
                    img.setAttribute("width", "70");
                    img.setAttribute("height", "70");
                    img.setAttribute("src", e.target.result);
                    viewblock.append(img);
              }
          }

          }
      });
});
</script>
{% endblock%}
