{% extends "main/account.html" %}
{% load i18n static %}

{% block title%}
Update Profile | Qycs Global Shipping Inc. | English Official Website
{% endblock%}


{% block account_content %}

<div class="w3-cell w3-container w3-mobile" style="overflow:auto;">
    <h2>Address Book:</h2>
<div class="addresses_block" style="overflow:auto; max-height:500px; min-width:480px;">
<!-- display default address -->
    <div class="w3-card-2 w3-round w3-container ">
        {% if user.userprofile.default_address %}

            <h5>{{user.userprofile.default_address.last_name}}, {{user.userprofile.default_address.first_name}}(Default)</h5>

            {% if user.userprofile.default_address.phone and user.userprofile.default_address.email %}
                {{user.userprofile.default_address.phone}} |
                {{user.userprofile.default_address.email}}<br/>
            {% elif user.userprofile.default_address.phone or user.userprofile.default_address.email%}
                {{user.userprofile.default_address.phone}} {{user.userprofile.default_address.email}}<br/>
            {% endif %}

            {{user.userprofile.default_address.address}}<br/>
            {% if user.userprofile.default_address.apt %}{{user.userprofile.default_address.apt}}<br/>{% endif %}
            {{user.userprofile.default_address.city}}
            {{user.userprofile.default_address.state}}, {{user.userprofile.default_address.zipcode}}<br/>
            {{user.userprofile.default_address.country}}<br/>

            <button type="button" class="edit_btn" onclick="window.location.href='{{user.userprofile.default_address.get_absolute_url.edit}}'">Edit</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{user.userprofile.default_address.get_absolute_url.delete}}'">Delete</button>
        {% endif %}
  </div>


<!-- display other addresses -->
{% if user.address_set.all %}{% for address in user.address_set.all %}
{% if address != user.userprofile.default_address%}
    <div class="w3-card-2 w3-round w3-container">

        <h5>{{address.last_name}}, {{address.first_name}}</h5>

        {% if address.phone and address.email%}
            {{address.phone}} | {{address.email}}<br/>
        {% elif address.phone or address.email%}
            {{address.phone}}{{address.email}}<br/>
        {% endif %}

        {{address.address}}<br/>
        {% if address.apt %}{{address.apt}}<br/>{% endif %}
        {{address.city}}, {{address.state}} {{address.zipcode}}<br/>
        {{address.country}}<br/>
        <button type="button" class="edit_btn" onclick="window.location.href='{{address.get_absolute_url.edit}}'">Edit</button>
        <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.delete}}'">Delete</button>
        <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.set_default}}'">Set as Default Address</button>
    </div>

{% endif %}{% endfor %}{% endif %}

</div>
</div>
<div class="w3-cell w3-container w3-mobile">
    {% include "blocks/new_address_form.html"%}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
