{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{{user.username}}{% trans "'s Address Book'" %}
{% endblock%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block content %}
<div class="w3-panel">
{% if user.address_set.all %}
<div id="address_book_block" class="w3-container w3-cell w3-mobile w3-card-2" style="overflow:auto;">
    <h2>{% trans 'Address Book' %}</h2>
    <div class="addresses_block grey-background w3-mobile" style="overflow:auto; max-height:600px;">
    <!-- display default address -->
          {% if user.default_address %}
            <div class="w3-card-2 w3-round w3-container w3-mobile w3-white" style="max-width:300px;">
                {% include "blocks/address_card_fields.html" with add=user.default_address default='(default)' %}
                <button type="button" class="edit_btn" onclick="window.location.href='{{user.default_address.get_absolute_url.edit}}'">Edit</button>
                <button type="button" class="delete_btn" onclick="window.location.href='{{user.default_address.get_absolute_url.delete}}'">Delete</button>
            </div>
          {% endif %}

    <!-- display other addresses -->
    {% for address in user.address_set.all %}
    {% if address != user.default_address%}
        <div class="w3-card-2 w3-round w3-container w3-mobile w3-white" style="max-width: 300px;">
            {% include "blocks/address_card_fields.html" with add=address %}
            <button type="button" class="edit_btn" onclick="window.location.href='{{address.get_absolute_url.edit}}'">Edit</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.delete}}'">Delete</button>
            <button type="button" class="delete_btn" onclick="window.location.href='{{address.get_absolute_url.set_default}}'">Set as Default Address</button>
        </div>
    {% endif %}{% endfor %}

    </div>
</div>
{% endif %}
<div class="w3-container w3-cell w3-mobile w3-card-2">
  <form method = "post" enctype="multipart/form-data" id="main_address_form">
  {% csrf_token %}
  {% if addform.errors %}
      <p class="errornote">
          {% if addform.errors.items|length == 1 %}
              {% trans "Please correct the error below." %}
          {% else %}
              {% trans "Please correct the errors below." %}
          {% endif %}
      </p>
  {% endif %}
  <fieldset class="module aligned w3-mobile">
    <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'Address' %}</h2>
    <button type="button" id="id_follow_user_infor">Follow User Information</button>
      <div class="form-row">
        {{ addform.first_name.errors }}
        {{ addform.first_name.label_tag }} {{ addform.first_name }}
      </div>
      <div class="form-row">
        {{ addform.last_name.errors }}
        {{ addform.last_name.label_tag }} {{ addform.last_name }}
      </div>
      <div class="form-row">
        {{ addform.phone.errors }}
        {{ addform.phone.label_tag }} {{ addform.phone }}
      </div>
      <div class="form-row">
        {{ addform.country.errors }}
        {{ addform.country.label_tag }} {{ addform.country }}
      </div>
      <div class="form-row">
        {{ addform.state.errors }}
        {{ addform.state.label_tag }} {{ addform.state }}
      </div>
      <div class="form-row">
        {{ addform.city.errors }}
        {{ addform.city.label_tag }} {{ addform.city }}
      </div>
      <div class="form-row">
        {{ addform.address.errors }}
        {{ addform.address.label_tag }} {{ addform.address }}
      </div>
      <div class="form-row">
        {{ addform.apt.errors }}
        {{ addform.apt.label_tag }} {{ addform.apt }}
      </div>
      <div class="form-row">
        {{ addform.zipcode.errors }}
        {{ addform.zipcode.label_tag }} {{ addform.zipcode }}
      </div>
      <div class="submit-row w3-container">
          <button type="button" class="cleanBtn">{% trans 'Cancel' %}</button>
          <input type = "submit" value = "{% trans 'Save' %}"/>
      </div>
  </fieldset>
</form>
</div>
<script>

  function isThere(param,id){
    if(param!=""){
      $("#"+id).attr('value', param);
    }
  }//end of isThere


  function populateData(list,id,comp){
    if($('#'+id).length!=0){
      $('#'+id).remove()
    }
    if(list.length>50){
      return
    }else if (list.length==1) {
      $('#'+comp).val(list[0])
      return
    }
    let content='<datalist clas="ui-autocomplete" id="'+id+'">';
    let c;
    for(c=0; c<list.length; c++){
      content+='<option value="'+list[c]+'">';
    }
    content+='</datalist>';
    $('body').append(content);
    $('#'+comp).attr('list',id);
  }

  function getLocations(field,value,id) {
    let dt={'csrfmiddlewaretoken': "{{ csrf_token }}",
    'field':field,'value':value};
    $.ajax({
      type: "POST",
      url: "{% url 'location' %}",
      data: dt,
      success: function(data){
          if(field=="id_country"){
            populateData(data.data,id,field)
            populateData(data.state,'stateListID','id_state')
            populateData(data.city,'cityListID','id_city')
          }
          else if(field=="id_state"){
            populateData(data.data,id,field)
            populateData(data.country,'countryListID','id_country')
            populateData(data.city,'cityListID','id_city')
          }
          else if(field=="id_city"){
            populateData(data.data,id,field)
            populateData(data.country,'countryListID','id_country')
            populateData(data.state,'stateListID','id_state')
          }
      },
      failure: function(data){

      },
    });
  }//end of getLocations





  $(document).ready(function(){
    $('#id_follow_user_infor').click(function(){
        isThere("{{user.first_name}}","id_first_name");
        isThere("{{user.last_name}}","id_last_name");
        isThere("{{user.email}}","id_email");
        isThere("{{user.userprofile.phone}}","id_phone");
    })

    var xhr;
    $("#id_country").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_country",$(this).val(),'countryListID')
        }
    });

    $("#id_state").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_state",$(this).val(),'stateListID')
        }
    });

    $("#id_city").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_city",$(this).val(),'cityListID');
        }
    });

  })//end of ready method
</script>

<style>
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}
</style>

</div></div>
{% endblock %}

{% block sidebar %}
{% endblock %}
