{% extends "main/base.html" %}
{% load i18n static %}


{% block blockbots %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Qycs provides Co-shipping, Direct Shipping, Global Shop service.">
<meta name="keywords" content="Co-shipping, Direct Shipping, Global Shop">
<meta name="author" content="Qycs Technique team">
{% endblock %}

{% block coltype %}contentCSS{% endblock %}

{% block branding %}
<div class="w3-row">
  <div class="w3-col w3-left" style="width:20%;">
      <a href="{% url 'home' %}"><img src="{% static 'image/brand.png' %}" alt="logo" style="max-width:150px; margin:auto;"></a>
  </div>
  <div class="w3-rest w3-right">
      <div class="topnav" id="myTopnav">
        <a href="{% url 'shopping' %}">{% trans "Global Shop" %}</a>
        <a href="{% url 'price_list'%}">{% trans "Price List" %}</a>
            {% if user.is_authenticated %}
                {% if user.default_col %}
                <a href="{% url 'add_co_shipping' user.default_col.pk %}">
                  {% trans "Quick Co-shipping" %}
                </a>
                {% endif %}
                <a href="{% url 'add_direct_shipping' %}">{% trans "Quick Direct Shipping" %}</a>
                <div class="dropdown">
                    <button type="button" class="dropbtn">
                      <span class="logo-text-blue">{{user.username}}</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      {% if user.default_col %}<a href="{{user.default_col.get_absolute_url}}">{% trans "Collection Point" %}</a>{% endif %}
                      <a href="{% url 'account' %}">{% trans "Profile" %}</a>
                      <a href="{% url 'useraddress' %}">{% trans "Address Book" %}</a>
                      <a href="{% url 'userpackage' %}">{% trans "Packages History" %}</a>
                      <a href="{% url 'userwallet' %}">{% trans "Wallet" %}</a>
                      <a href="{% url 'logout' %}">{% trans "Log Out" %}</a>
                    </div>
              </div>
            {% else %}
            <a href="{% url 'login' %}"><span class="logo-text-blue" >{% trans "Log in" %}</span>&emsp;/ </a>
            <a href="{% url 'register' %}"><span class="logo-text-red" >{% trans "Sign Up" %}</span></a>
            {% endif %}
            <div class="dropdown">
              <button type="button" class="dropbtn">
                Language/语言
              </button>
              <div class="dropdown-content">
                  <form action="/_/setlang/" method="post">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ redirect_to }}"/>
                          <select name="language">
                                <option value="en-us">English</option>
                                <option value="zh-Hans">简体中文</option>                                                
                          </select>
                      <input type="submit" value="Change"/>
                  </form>
                </div>
            </div>
              <a href="{% url 'packagecart' %}">
                <img src="{% static 'image/cart.png' %}" alt="cart" style="max-width:30px; margin:auto;">
                {% if user.is_authenticated %}
                <div class="mini_full_circle w3-display-container" id="package_num" style="display:none;">
                  <div class="w3-display-middle" id="packageNumberContainerID">

                  <script>
                  getPackageNumber("{% url 'packageNumber' %}","packageNumberContainerID")
                  </script>


                </div></div>
                {%endif%}
              </a>

      <a href="javascript:void(0);" class="icon" onclick="openMenu()">
        <i class="fa fa-bars"></i></a>
    </div>
  </div>
</div>



  {% include "blocks/modal.html" with element='wechat' title='Contact Us' block='wechat_qrcode_block'%}
  {% include "blocks/modal.html" with element='email' title='Contact Us' block='email_block'%}
  <script>
  function openMenu() {
    var mynnav = document.getElementById("myTopnav");
    if (mynnav.className === "topnav") {
        mynnav.className += " responsive";
    } else {
        mynnav.className = "topnav";
    }
  }
  var csrf = "{{csrf_token}}"
  </script>
  {% block script%}
  {% endblock%}
{% endblock %}





{% block footer %}
<div id="footer" class="w3-mobile">
  {% block footer_line %}
  <hr/>
  {% endblock%}
  <div class="w3-row w3-padding-small content_center">
    <div class="w3-col w3-container m4 l3" id="myqycs_block">
      <h5>{% trans "My QYCS" %}</h5>

      <a href="{% url 'information' 'about_us'%}">{% trans "About Us" %}</a><br/>
      <a href="{% url 'information' 'join_us'%}">{% trans "Join Us" %}</a><br/>
      <a href="{% url 'information' 'return_policy'%}">{% trans "Return Policy" %}</a><br/>
      <a href="{% url 'information' 'faqs'%}">{% trans "FAQs" %}</a><br/>

    </div>
    <div class="w3-col w3-container m4 l3" id="consumer_block">
      <h5>{% trans "Consumer Guide" %}</h5>

      <a href="{% url 'information' 'coshipping_guide'%}">{% trans "Co-shipping Guide" %}</a><br/>
      <a href="{% url 'information' 'shopping_guide'%}">{% trans "Shopping Guide" %}</a><br/>
      <a href="{% url 'information' 'payment_guide'%}">{% trans "Our Payments" %}</a><br/>

    </div>
    <div class="w3-col w3-container m4 l3" id="service_block">
      <h5>{% trans "Service Guide" %}</h5>

      <a  href="{% url 'information' 'insurance'%}">{% trans "Qycs Shipping Insurance" %}</a><br/>
      <a href="{% url 'information' 'collection_points'%}">{% trans "Collection Points" %}</a><br/>
      <a href="{% url 'information' 'use_guide'%}">{% trans "Users and Collectors" %}</a>

    </div>

    <div class="w3-col w3-container m5 l3" id="contact_block">
      <div class="w3-row">
          <img src="{% static 'image/brand.png' %}" alt="logo" style="width:70px; margin:auto;">&nbsp;<i>Global Shipping Inc.</i>
      </div>

      <div class="w3-padding-16 w3-center">
        <a class="w3-text-black" href="{% url 'customer_service' %}" ><img alt="customer service icon" src="{% static 'image/customer_service.svg' %}" style="height:35px;"></a>
        <img class="wechat" alt="WeChat icon" src="{% static 'image/wechat.ico' %}" style="height:35px;">
        <img class="email" alt="Emial icon" src="{% static 'image/email.png' %}" style="height:35px;">
      </div>
      <div class="w3-padding-small w3-center">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges" style="width:180px;">
    </div>
    </div>


  </div>
  <div id="rights" class="footer-copyright w3-row w3-mobile"  style="width:100%; margin:auto;">
        <div class="w3-col m6 l6">
              <div class="w3-container content_left">
                <div>&copy; 2018 {% trans "Qycs Global Shipping Inc." %} {% trans "All Rights Reserved" %}</div>
              </div>
        </div>


        <div class="w3-col m6 l6">
              <div class="w3-container content_right">
                <div><a href="{% url 'information' 'policy'%}">{% trans "Privacy Policy" %}</a> | <a href="{% url 'information' 'service_term'%}">{% trans "Terms of Service" %}</a></div>
              </div>
        </div>

  </div>
</div>


{% endblock %}
