{% extends "main/base.html" %}
{% load i18n static %}



{% block title %}{{ title }} | {{ site_title|default:_('Qycs Global Shipping') }}{% endblock %}



{% block blockbots %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Qycs Founders">
{% endblock %}


{% block coltype %}contentCSS{% endblock %}

{% block branding %}
  <a href="{% url 'home' %}"><img src="{% static 'main/image/brand.png' %}" alt="logo" height="60" class="w3-panel"/></a>
{% endblock %}



{% block nav-global %}
<div class="w3-bar">
    <div class="topnav " id="myTopnav">
      <a href="{% url 'home' %}">{% trans "Home" %}</a>
      <a href="{% url 'add_direct_shipping' %}">{% trans "Direct Shipping" %}</a>
      <a href="{% url 'collection_points' %}">{% trans "Co-Shipping" %}</a>
      <a href="">{% trans "Price List" %}</a>
      <a href="">{% trans "Global Shop" %}</a>
      {% if user.collectionpoint %}<a href="{{user.collectionpoint.get_absolute_url.collection_point_view}}">{% trans "My Collection Point" %}</a>{% endif %}
      <a href="/guanjia" target="_blank">{% trans "Admin" %}</a>
      <div class="topnav-right">
          {% if user.is_authenticated %}

            <!--Dropdown Click Button-->
            <div class="dropdown">
              <button type="button" class="dropbtn">{{user.username}}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'account' %}">{% trans "User Profile" %}</a>
                <a href="{% url 'useraddress' %}">{% trans "Address book" %}</a>
                <a href="{% url 'userpackage' %}">{% trans "Packages History" %}</a>
                <a href="">{% trans "Wallet" %}</a>
                <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
              </div>
            </div>
          {% else %}

            <div class="dropdown">
              <button type="button" class="dropbtn">{% trans "Login/Sign Up" %}
                <i class="fa fa-caret-down"></i>
              </button>

              <div class="dropdown-content">
                <a href="{% url 'login' %}">{% trans "Login" %}</a>
                <a href="{% url 'register' %}">{% trans "Sign Up" %}</a>
              </div>
            </div>

          {% endif %}

        <a href="{% url 'packagecart' %}">{% trans "Upcoming Packages" %}</a>
    </div>
  </div>
</div>

{% include "blocks/modal.html" with element='wechat' title='Contact Us' block='wechat_qrcode_block'%}
{% include "blocks/modal.html" with element='email' title='Contact Us' block='email_block'%}
<script src="{% static 'main/js/base.js' %}"></script>

{% block script%}
{% endblock%}
{% endblock %}



{% block footer %}
<div id="footer">
  <div class="w3-row">
    <div class="w3-col w3-container m4 l2">
      <h5 class="w3-center"><a href="{% url 'home' %}"><img width="150" height="150" src="{% static 'main/image/slogan.png'%}" alt="qycs slogan icon"></a></h5>
    </div>
    <div class="w3-col w3-container m4 l2">
      <h5 class="w3-text-orange" >{% trans "My Qycs" %}</h5>

      <a class="w3-text-white w3-medium" href="">{% trans "About Us" %}</a><br/>
      <a class="w3-text-white w3-medium" href="">{% trans "Join us" %}</a><br/>

    </div>
    <div class="w3-col w3-container m4 l2">
      <h5 class="w3-text-orange" >{% trans "Consumer Guide" %}</h5>
      <a class="w3-text-white w3-medium" href="">{% trans "Shipping Guide" %}</a><br/>
      <a class="w3-text-white w3-medium" href="">{% trans "Shopping Guide" %}</a><br/>
      <a class="w3-text-white w3-medium" href="">{% trans "Our Payments" %}</a><br/>

    </div>
    <div class="w3-col w3-container m4 l2">
      <h5 class="w3-text-orange">{% trans "Service Guide" %}</h5>

      <a class="w3-text-white w3-medium" href="">{% trans "Qycs Insurance" %}</a><br/>
      <a class="w3-text-white w3-medium" href="">{% trans "Collection Points" %}</a><br/>
      <a class="w3-text-white w3-medium" href="">{% trans "Users and Collectors" %}</a>

    </div>

    <div class="w3-col w3-container m4 l2">
      <div class="social-networks">
        <a href="" class="wechat"><img alt="WeChat icon" src="{% static 'main/image/wechat.ico' %}" width="40" height="40"></a>

        <a href="" class="email"><img alt="Emial icon" src="{% static 'main/image/email.png' %}" width="40" height="40"></a>

      </div>

      <button type="button" class="btn btn-default">{% trans "Contact us" %}</button><br/>

    </div>
    <!-- <div class="w3-col w3-container m4 l2">
      <h5 class="w3-center"><a href="#"><img width="100" height="100" src="{% static 'image/qrcode.jpg'%}"></a></h5>
    </div> -->

  </div>
</div>
<div class="footer-copyright">
  &copy; {% trans "Qycs Global Shipping Inc." %} | {% trans "All Rights Reserved" %} © 2018 |
  <a href="">{% trans "Privacy Policy" %}</a> | <a href="">{% trans "Terms of Service" %}</a>
</div>
{% endblock %}
