{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans "Qycs's Collection Points" %}
{% endblock%}

{% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

{% block content %}

<div class="w3-panel w3-mobile">
    <h1>{% trans 'Our Collection Points' %}</h1>
    <div id="default_col_block" class="w3-row">
        {% if col_list %}
            <h4>{% trans 'Your Selected Collection Point' %}</h4>
            <form method = "post">
              {% csrf_token %}
              <input type="hidden" id="id_selected_col" name="selected_col" value="{{user.default_col.pk}}" />
              {% if user.default_col %}
                  <div class="w3-border w3-round w3-container w3-mobile w3-half" style="max-width: 300px;">
                    {% include "blocks/col_card_fields.html" with col=user.default_col no_icon='yes' %}
                  </div>
              {% endif %}
              <input id="add_package_btn" type="submit" value="{% trans 'Add package' %}">
            </form>
        {% else %}
            <div class="w3-large">
              {% blocktrans %}
                No Collection Point is avaliable at this time. If you want to ship a package you can use our direct shiping service.<br/>
                You can also register your location as a collection point to receive your packages or refer a store to set up as collection point.
              {% endblocktrans %}
            </div>
        {% endif %}
    </div>
</div>


<div class="w3-container">
  <input id="pac-input" class="controls" type="text" placeholder="{% trans 'Search Box' %}">
  <div id="map"></div>
</div>

<br/>
{% endblock %}

{% block script%}
<script src="{% static 'js/map.js' %}"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLyUK5D-laS8iQsSDWwOhehl-Gvhz8xfA&libraries=places&callback=initAutocomplete">
</script>

{% endblock %}
