{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans "Qycs's Collection Points" %}
{% endblock%}


{% block content %}

<div class="w3-panel w3-mobile">
    <div class="text-xxlarge-bold w3-panel">{% trans 'Our Collection Points' %}</div>
</div>


<div class="w3-container">
  <div id="search_block"><input id="pac-input" class="controls" type="text" placeholder="{% trans 'Search Box' %}"><i class="fa fa-search"></i></div>
  <div calss="we-cell-row">
    <Table class="w3-cell" id="CollectionPointID">
      <div id="no_collection_point" style="display:none;">
        {% blocktrans %}
        Sorry, We do not have collection points in this area. You can use our direct shipping service by click "QUICK DIRECT SHIPPING" IN THE MENU ON TOP .
        {% endblocktrans %}

      </div>
      <tbody>
        {% for col in col_list  %}
        <tr id="{{col.pk}}">
          <td>
            <div class="w3-border w3-round w3-container w3-mobile w3-half" id="CollectionCart">
              {% include "blocks/col_card_fields.html" with col=col no_icon='yes' %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </Table>
    <div id="map" class="w3-cell w3-rest"></div>
  </div>
</div>


<br/>
{% endblock %}

{% block script%}

<script>
  let locations={{col_str_json|safe}}
</script>
<script src="{% static 'js/map.js' %}"></script>
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLyUK5D-laS8iQsSDWwOhehl-Gvhz8xfA&libraries=places&callback=initAutocomplete">
</script> -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuQpITLk1GMkrPyVzBRNqvg_0QPgwMtZs&libraries=places&callback=initAutocomplete">
</script>
{% endblock %}
