{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans 'User Collection Point Profile Update' %}
{% endblock%}

{% block messages %}
{% endblock messages %}





{% block content %}


<div class="w3-cell-row w3-mobile" style="width:80%; margin:auto;">

  <div class="text-xxlarge-bold w3-panel">{% trans 'Update My Collection Point information' %}</div>



  <div id="message_block">
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}

    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}
  </div>

</div>



<form method="post" enctype="multipart/form-data" >{% csrf_token %}

        <div class="w3-cell-row w3-mobile"  style="width:100%; margin:auto;">
            <div class="w3-cell" style="width:50%;">
                  <div class="w3-cell-row w3-container w3-mobile" style="width:80%; margin-left:20%;">
                    <div class="text-medium">{% trans 'My Collection Point Profile' %}</div>
                  </div>
                  <hr/>
                  <div class="w3-cell-row w3-container w3-mobile w3-right" style="width:80%;">

                      <div class="w3-row">
                      {% if user.collectionpoint.collector_icon %}
                      <div class="w3-row w3-mobile">{% trans 'Currently Icon' %}:</br/>
                        <img alt="collection point icon" src = "{{user.collectionpoint.collector_icon.url}}" style="width:12vw; margin-left:3vw;"/>
                      </div>
                      {% endif %}

                        {{ form.collector_icon.label_tag }}{{ form.collector_icon.errors }}<br/>
                        <input type="file" name="collector_icon" id="id_collector_icon" style="width:100%;">

                      </div>
                      {% if not user.collectionpoint.wechat and not user.collectionpoint.wechat_qrcode %}
                      <div class="w3-row">
                        {{ form.wechat.label_tag }} {{ form.wechat.errors }} {{ form.wechat }}
                      </div>
                      {% endif %}
                      <div class="w3-row">
                      {% if not user.collectionpoint.wechat_qrcode %}
                        {{ form.wechat_qrcode.label_tag }} {{ form.wechat_qrcode.errors }}{{ form.wechat_qrcode }}
                      {% else %}
                        {{ form.wechat_qrcode.label_tag }}<br/>
                        <img alt="collector WeChat qrcode" src = "{{user.collectionpoint.wechat_qrcode.url}}" style="width:12vw; margin-left:3vw;"/>
                      {% endif %}
                      </div>
                      <div class="w3-row">
                        {{ form.description.label_tag }} {{ form.description.errors }} {{ form.description }}
                      </div>
                      <div class="w3-row">
                        {{ form.show_contact.errors }} {{ form.show_contact }}&emsp;{%trans 'Show Contact Information' %}
                      </div>
                  </div>
            </div>

            <div class="w3-cell" style="width:50%;">
                  <div class="w3-cell-row w3-container w3-mobile" style="width:80%;">
                    <div class="text-medium">{% trans 'My Schedule' %}</div>
                  </div>
                  <hr/>
                  <div class="w3-cell-row w3-container w3-mobile" style="width:80%;">
                      <div class="w3-row">
                        {{ form.absent_start.label_tag }}{{ form.absent_start.errors }}<div class="w3-row">{{ form.absent_start }}</div>
                      </div>
                      <div class="w3-row">
                        {{ form.absent_end.label_tag }}{{ form.absent_end.errors }} <div class="w3-row">{{ form.absent_end }}</div>
                      </div>
                      <div class="w3-row">
                        {{ form.mon_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.mon_start.errors }}{{ form.mon_start }}</div>
                          <div class="w3-half">{{ form.mon_end.errors }}{{ form.mon_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.tue_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.tue_start.errors }}{{ form.tue_start }}</div>
                          <div class="w3-half">{{ form.tue_end.errors }}{{ form.tue_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.wed_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.wed_start.errors }}{{ form.wed_start }}</div>
                          <div class="w3-half">{{ form.wed_end.errors }}{{ form.wed_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.thu_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.thu_start.errors }}{{ form.thu_start }}</div>
                          <div class="w3-half">{{ form.thu_end.errors }}{{ form.thu_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.fri_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.fri_start.errors }}{{ form.fri_start }}</div>
                          <div class="w3-half">{{ form.fri_end.errors }}{{ form.fri_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.sat_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.sat_start.errors }}{{ form.sat_start }}</div>
                          <div class="w3-half">{{ form.sat_end.errors }}{{ form.sat_end }}</div>
                        </div>
                      </div>
                      <div class="w3-row">
                        {{ form.sun_start.label_tag }}
                        <div class="w3-row">
                          <div class="w3-half">{{ form.sun_start.errors }}{{ form.sun_start }}</div>
                          <div class="w3-half">{{ form.sun_end.errors }}{{ form.sun_end }}</div>
                        </div>
                      </div>

                  </div>
            </div>
        </div>

        <div class="w3-panel" style="width:80%; margin:auto;">
            <div class="w3-right">
                <button class="cancel_btn" type="button" onclick="window.location.href = '{% url 'account'%}'" >{% trans 'Cancel' %}</button>
                <input class="save_btn" type = "submit" value = "{% trans 'Update' %}"/>
            </div>
      </div>

  </form>

  <script>
  $('#id_store').change( function(){
          if (!$(this).is(':checked')) {
            $('#id_store_name').closest('.form-row').slideUp(300, function(){
                $('#id_store_name').closest('.form-row').hide();
            });
            $('#id_license_type').closest('.form-row').slideUp(300, function(){
                $('#id_license_type').closest('.form-row').hide();
            });
            $('#id_license_image').closest('.form-row').slideUp(300, function(){
                $('#id_license_image').closest('.form-row').hide();
            });
          }else{
            $('#id_store_name').closest('.form-row').hide().slideDown(300);
            $('#id_license_image').closest('.form-row').hide().slideDown(300);
            $('#id_license_type').closest('.form-row').hide().slideDown(300);
          }
      });
  </script>
{% endblock %}
