{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans 'User Collection Point Profile Update' %}
{% endblock%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}


{% block content %}
<form method = "post" enctype="multipart/form-data" class="w3-card-2 w3-round w3-container w3-mobile" style="margin:auto; max-width:600px;">
  	{% csrf_token %}
    <h3>{% trans 'Update my Collection Point information' %}</h3>
    <fieldset class="module aligned w3-mobile">
        <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'My Collection Point Profile' %}</h2>
        <div class="form-row">
        {% if not form.collector_icon == '' %}<div class="w3-row w3-right">{% trans 'Currently' %}: <br/><img alt="collection point icon" src = "{{user.collectionpoint.collector_icon.url}}" style="max-width:200px;"/></div>{% endif %}
          {{ form.collector_icon.errors }}
          {{ form.collector_icon.label_tag }}
          <input type="file" name="collector_icon" id="id_collector_icon">

        </div>
        {% if form.wechat == '' %}
        <div class="form-row">
          {{ form.wechat.errors }}
          {{ form.wechat.label_tag }} {{ form.wechat }}
        </div>
        {% endif %}
        <div class="form-row">
        {% if form.wechat_qrcode == '' %}
          {{ form.wechat_qrcode.errors }}
          {{ form.wechat_qrcode.label_tag }} {{ form.wechat_qrcode }}
        {% else %}
          {{ form.wechat_qrcode.label_tag }}
          <img class="w3-right" alt="collector WeChat qrcode" src = "{{user.collectionpoint.wechat_qrcode.url}}" style="max-width:200px;"/>
        {% endif %}
        </div>
        <div class="form-row">
          {{ form.description.errors }}
          {{ form.description.label_tag }} {{ form.description }}
        </div>
    </fieldset>
    <fieldset class="module aligned w3-mobile">
        <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'My Schedule' %}</h2>
        <div class="form-row">
          {{ form.absent_start.errors }}
          {{ form.absent_start.label_tag }} {{ form.absent_start }}
        </div>
        <div class="form-row">
          {{ form.absent_end.errors }}
          {{ form.absent_end.label_tag }} {{ form.absent_end }}
        </div>
        <div class="form-row">
          {{ form.mon_start.errors }}
          {{ form.mon_start.label_tag }} {{ form.mon_start }}
        </div>
        <div class="form-row">
          {{ form.mon_end.errors }}
          {{ form.mon_end.label_tag }} {{ form.mon_end }}
        </div>
        <div class="form-row">
          {{ form.tue_start.errors }}
          {{ form.tue_start.label_tag }} {{ form.tue_start }}
        </div>
        <div class="form-row">
          {{ form.tue_end.errors }}
          {{ form.tue_end.label_tag }} {{ form.tue_end }}
        </div>
        <div class="form-row">
          {{ form.wed_start.errors }}
          {{ form.wed_start.label_tag }} {{ form.wed_start }}
        </div>
        <div class="form-row">
          {{ form.wed_end.errors }}
          {{ form.wed_end.label_tag }} {{ form.wed_end }}
        </div>
        <div class="form-row">
          {{ form.thu_start.errors }}
          {{ form.thu_start.label_tag }} {{ form.thu_start }}
        </div>
        <div class="form-row">
          {{ form.thu_end.errors }}
          {{ form.thu_end.label_tag }} {{ form.thu_end }}
        </div>
        <div class="form-row">
          {{ form.fri_start.errors }}
          {{ form.fri_start.label_tag }} {{ form.fri_start }}
        </div>
        <div class="form-row">
          {{ form.fri_end.errors }}
          {{ form.fri_end.label_tag }} {{ form.fri_end }}
        </div>
        <div class="form-row">
          {{ form.sat_start.errors }}
          {{ form.sat_start.label_tag }} {{ form.sat_start }}
        </div>
        <div class="form-row">
          {{ form.sat_end.errors }}
          {{ form.sat_end.label_tag }} {{ form.sat_end }}
        </div>
        <div class="form-row">
          {{ form.sun_start.errors }}
          {{ form.sun_start.label_tag }} {{ form.sun_start }}
        </div>
        <div class="form-row">
          {{ form.sun_end.errors }}
          {{ form.sun_end.label_tag }} {{ form.sun_end }}
        </div>
      </fieldset>
    <div class="submit-row w3-container">
      <button type="button" class="cleanBtn">{% trans 'Clear Form' %}</button>
        <button  type="button" onclick="window.location.href = '{% url 'account'%}'" >{% trans 'Cancel' %}</button>
        <input type = "submit" value = "{% trans 'Update' %}"/>
    </div>
  </form>
  <script>
  $('#id_store').change( function(){
          if (!$(this).is(':checked')) {
            $('#id_store_name').closest('.form-row').slideUp(300, function(){
                $('#id_store_name').closest('.form-row').hide();
            });
            $('#id_license_type').closest('.form-row').slideUp(300, function(){
                $('#id_license_type').closest('.form-row').hide();
            });
            $('#id_license_image').closest('.form-row').slideUp(300, function(){
                $('#id_license_image').closest('.form-row').hide();
            });
          }else{
            $('#id_store_name').closest('.form-row').hide().slideDown(300);
            $('#id_license_image').closest('.form-row').hide().slideDown(300);
            $('#id_license_type').closest('.form-row').hide().slideDown(300);
          }
      });
  </script>
{% endblock %}
