{% extends "main/account.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Register Collection Point' %}
{% endblock%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block account_content %}
<form method = "post" enctype="multipart/form-data" class="w3-card-2 w3-round w3-container w3-mobile" style="margin:auto; max-width:600px;">
  	{% csrf_token %}
    {% if userform.errors or colform.errors %}
        <p class="errornote">
        {% trans "Please correct the error(s) below." %}
        </p>
    {% endif %}

    <h3>{% trans 'Register my location as a Package Collection Point' %}</h3>
    <fieldset class="module aligned w3-mobile">
          <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'My Profile' %}</h2>
          <div class="form-row">
            {{ userform.username.errors }}
            {{ userform.username.label_tag }} {{ userform.username }}
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
          <div class="form-row">
            {{ userform.first_name.errors }}
            {{ userform.first_name.label_tag }} {{ userform.first_name }}
          </div>
          <div class="form-row">
            {{ userform.last_name.errors }}
            {{ userform.last_name.label_tag }} {{ userform.last_name }}
          </div>
          <div class="form-row">
            {{ userform.birthday.errors }}
            {{ userform.birthday.label_tag }}{{ userform.birthday }}
          </div>
          <div class="form-row">
            {{ userform.email.errors }}
            {{ userform.email.label_tag }} {{ userform.email }}
          </div>
          <div class="form-row">
            {{ userform.phone.errors }}
            {{ userform.phone.label_tag }} {{ userform.phone }}
          </div>
          <div class="form-row">
            {{ userform.country.errors }}
            {{ userform.country.label_tag }} {{ userform.country }}
          </div>
          <div class="form-row">
            {{ userform.language.errors }}
            {{ userform.language.label_tag }} {{ userform.language }}
          </div>
    </fieldset>
    <fieldset class="module aligned w3-mobile">
        <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'My Location' %}</h2>
        <div class="form-row">
          {{ colform.name.errors }}
          {{ colform.name.label_tag }} {{ colform.name }}
        </div>
        <div class="form-row">
          {{ colform.collector_icon.errors }}
          {{ colform.collector_icon.label_tag }} {{ colform.collector_icon }}
        </div>
        <div class="form-row">
          {{ colform.store.errors }}
          {{ colform.store.label_tag }} {{ colform.store }}
        </div>
        <div class="form-row">
          {{ colform.store_name.errors }}
          {{ colform.store_name.label_tag }} {{ colform.store_name }}
        </div>
        <div class="form-row">
          {{ colform.country.errors }}
          {{ colform.country.label_tag }} {{ colform.country }}
        </div>
        <div class="form-row">
          {{ colform.state.errors }}
          {{ colform.state.label_tag }} {{ colform.state }}
        </div>
        <div class="form-row">
          {{ colform.city.errors }}
          {{ colform.city.label_tag }} {{ colform.city }}
        </div>
        <div class="form-row">
          {{ colform.address.errors }}
          {{ colform.address.label_tag }} {{ colform.address }}
        </div>
        <div class="form-row">
          {{ colform.apt.errors }}
          {{ colform.apt.label_tag }} {{ colform.apt }}
        </div>
        <div class="form-row">
          {{ colform.zipcode.errors }}
          {{ colform.zipcode.label_tag }} {{ colform.zipcode }}
        </div>
    </fieldset>
    <fieldset class="module aligned w3-mobile">
        <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'Document' %}</h2>
        <div class="form-row">
          {{ colform.license_type.errors }}
          {{ colform.license_type.label_tag }} {{ colform.license_type }}
        </div>
        <div class="form-row">
          {{ colform.license_image.errors }}
          {{ colform.license_image.label_tag }} {{ colform.license_image }}
        </div>
        <div class="form-row">
          {{ colform.id_image.errors }}
          {{ colform.id_image.label_tag }} {{ colform.id_image }}
        </div>
        <div class="form-row">
          {{ colform.wechat.errors }}
          {{ colform.wechat.label_tag }} {{ colform.wechat }}
        </div>
        <div class="form-row">
          {{ colform.wechat_qrcode.errors }}
          {{ colform.wechat_qrcode.label_tag }} {{ colform.wechat_qrcode }}
        </div>
        <div class="form-row">
          {{ colform.referrer.errors }}
          {{ colform.referrer.label_tag }} {{ colform.referrer }}
        </div>
        <div class="form-row">
          {{ colform.apply_reason.errors }}
          {{ colform.apply_reason.label_tag }} {{ colform.apply_reason }}
        </div>
        <div class="form-row">
          {{ colform.info_source.errors }}
          {{ colform.info_source.label_tag }} {{ colform.info_source }}
        </div>
    </fieldset>
    <fieldset class="module aligned w3-mobile">
        <h2 class="w3-sand w3-text-indigo w3-large">{% trans 'Collection Point Registration Terms' %}</h2>
        <div class="w3-card-2" style="height:100px; overflow:auto;">{{term|linebreaks}}</div>
        {{colform.agreement}}{{colform.agreement.label_tag}}
    </fieldset>
    <div class="submit-row w3-container">
      <button type="button" class="cleanBtn">{% trans 'Clear Form' %}</button>
        <button  type="button" onclick="window.location.href = '{% url 'account'%}'" >{% trans 'Cancel' %}</button>
        <input type = "submit" value = "{% trans 'Register' %}"/>
    </div>
  </form>
  <script>
  $('#id_store').change( function(){
          if (!$(this).is(':checked')) {
            $('#id_store_name').closest('.form-row').slideUp(300, function(){
                $('#id_store_name').closest('.form-row').hide();
            });
            $('#id_license_type').closest('.form-row').slideUp(300, function(){
                $('#id_license_type').closest('.form-row').hide();
            });
            $('#id_license_image').closest('.form-row').slideUp(300, function(){
                $('#id_license_image').closest('.form-row').hide();
            });
          }else{
            $('#id_store_name').closest('.form-row').hide().slideDown(300);
            $('#id_license_image').closest('.form-row').hide().slideDown(300);
            $('#id_license_type').closest('.form-row').hide().slideDown(300);
          }
      });
  </script>
{% endblock %}
