{% extends "main/addpackage.html" %}

{% load i18n static %}

{% block title%}
{% trans 'Add Co-shipping' %}
{% endblock%}

{% block shippingset %}
	<h2>{% trans 'Co-shipping' %}</h2>
	<fieldset class="module aligned w3-mobile">
		<h2 class="w3-sand w3-text-indigo w3-large">{% trans 'Confirm the Receiver Information' %}</h2>
		<button type="button" id="follow_user_infor">{% trans 'Follow User Information' %}</button>
		<button type="button" id="use_last_infor">{% trans 'Use the last Receiver Information' %}</button>
		<div class="form-row">
			{{ receiverform.first_name.errors }}
			{{ receiverform.first_name.label_tag }} {{ receiverform.first_name }}
		</div>
		<div class="form-row">
			{{ receiverform.last_name.errors }}
			{{ receiverform.last_name.label_tag }} {{ receiverform.last_name }}
		</div>
		<div class="form-row">
			{{ receiverform.phone.errors }}
			{{ receiverform.phone.label_tag }} {{ receiverform.phone }}
		</div>
	</fieldset>
	<fieldset class="module aligned w3-mobile">
		<h2 class="w3-sand w3-text-indigo w3-large">{% trans 'Selected Collection Point' %}</h2>
		<div class="w3-container">
			<button type="button" onclick="window.location.href='{% url 'collection_points' %}'">Change</button><br/>

			{% include "blocks/col_card_fields.html" with col=selected_col %}

	  </div>
	</fieldset>

{% endblock %}


{% block extrabtn %}
<button class="cancelBtn" onclick=" window.location.href='{% url 'collection_points' %}'" type="button">Back to Collection Points</button>
{% endblock %}
