{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Global Shop' %}
{% endblock%}

{% block branding %}
{% endblock %}

{% block extrastyle %}
<style>
  #shop-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'image/brand.png' %}");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    min-height: 500px;
    background-position: center;
  }
</style>
{% endblock %}


{% block content %}
<div id="shop-content" class="w3-row w3-center w3-text-white w3-mobile">
    <h1 class="w3-xxxlarge w3-text-white">Do you like to shop globally?</h1>
    <p>Contact me now!</p>
    <p>And you can shop in Qycs Website later!</p>
    <p>DON'T miss our updates!</p>

    <button id="show-content" type="button">Click Me</button>
    <div id="help-content" style="display:none;">
      <p class="w3-panel">*   Scan me, add me, ask me, and buy from me!   *</p>
      <img src="{% static 'image/qrcode.jpg' %}" height="200" class="w3-panel">
    </div>
</div>

<script>
$(document).ready(function(){
    $("#show-content").click(function(){
        $('#help-content').show();
        $('#help-content').hide().slideDown(500);
    });
});
</script>
{% endblock %}
