{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
Update Profile | Qycs Global Shipping Inc. | English Official Website
{% endblock%}


{% block content %}
<div class="w3-threequarter w3-container">

<h1> YOU ARE IN HOME PAGE</h1>

<button class="w3-half" type="button" onclick="window.location.href={% url 'shipping' %}">I want to ship</button>
<button class="w3-half" type="button" onclick="window.location.href={% url 'userpackage' %}">I want to check</button>
</div>
{% endblock %}
