{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Home' %}
{% endblock%}


{% block coltype %}{% if user.is_authenticated %}home_logged{% else %}contentCSS{% endif %}{% endblock %}

{% block content %}
<div class="w3-row w3-margin-top">
        <div class="w3-col half_circle_left">
          <div id="shipping_half_circle">
            <a href="{% url 'shipping' %}">
              <i class="fa fa-caret-left"></i>&emsp;{% trans 'SHIPPING' %}
            </a>
          </div>
        </div>
        <div class="w3-col w3-right half_circle_right">
          <div id="tracking_half_circle">
            <a href="{% url 'tracking' %}">{% trans 'TRACKING' %}&emsp;<i class="fa fa-caret-right"></i></a>
          </div>
        </div>
        <div class="w3-rest w3-center w3-margin-bottom">
          <div class="text-xxlarge w3-text-blue w3-margin-top">{% trans 'Welcome To' %}</div>
          <a href="{% url 'home' %}"><img src="{% static 'image/brand.png' %}" alt="logo" style="max-width:30vw; margin:auto;"/></a>
          <div class="text-regular-bold">{% trans 'Express - Modern Transport & Logistics' %}</div>
            {% if user.is_authenticated %}
              <div class="w3-padding-16">
                        <img src="{% static 'image/hankshake.png' %}" alt="hand shake" style="max-width:8vw; margin:auto;">
              </div>
              <div class="home-xxxlarge w3-text-blue" >
                {% trans "WE'RE RECRUITING" %}
                <div class="home-xxxlarge-bold"><a class="w3-text-blue" href="{% url 'information' 'collection_points'%}">{% trans "COLLECTION POINTS" %}</a></div>
              </div>
            {% else %}
                  <div class="home-xxxlarge w3-padding-32">
                    <span style="font-weight: bold;">{% trans 'Sign Up now! ' %}</span>{% trans 'Get Special Offer'%}<br/>
                    <span class="home-xxxlarge">{% trans '10% OFF every shipping!' %}</span>
                  </div>
                  <button  class="logo-blue" type="button"  onclick="window.location.href = '{% url 'login' %}'">{% trans 'Log in' %}</button>
                  <button class="logo-red" type="button"  onclick="window.location.href = '{% url 'register' %}'">{% trans 'Sign up' %}</button>
            {% endif %}
        </div>
</div>
{% endblock%}

{% block footer_line %}
{% if not user.is_authenticated %}
  <hr/>
{% endif %}
{% endblock %}
