{% extends "main/base.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block content %}
<h1> YOU ARE IN login PAGE</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
<table>
<tr>
    <td>username</td>
    <td><input type="text" class= "w3-input w3-border" name="username" maxlength="100" required id="username"></td>
</tr>
<tr>
    <td>password</td>
    <td><input type="text" class= "w3-input w3-border" name="password" maxlength="100" required id="password"></td>
</tr>
</table>

<input type="submit" value="login" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forget password?</a></p>


{% endblock %}