{% extends "main/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
{% endblock %}

{% block title%}
{% trans 'Log in' %}
{% endblock%}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block branding %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main" class="w3-container">
    <div class="w3-padding-32 w3-center">
      <a href="{% url 'home' %}"><img src="{% static 'image/brand.png' %}" alt="logo" class="large_image"/></a>
    </div>

    {% if user.is_authenticated %}
    <p class="errornote">
      {{user.username}},&nbsp;
      {% blocktrans trimmed %}
          you are not authorized to access this page. Would you like to login to a different account?
      {% endblocktrans %}
    </p>
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="w3-right">
          <a class="w3-text-blue" href="{% url 'password_reset'%}">{% trans 'Forgot Password?' %}</a>
      </div>

      <div class="w3-center">
        <input id="login_btn" class="logo-blue"  type="submit" value="{% trans 'Log in' %}" />
      </div>
    </form>
    <div class="w3-center">{% trans 'OR' %}<br/>

    <button class="logo-red w3-row" type="button" onclick="window.location.href = '{% url 'social:begin' 'google-oauth2' %}'"><i class="fa fa-google"></i>&emsp;{% trans 'Login with Google' %}</button>

  </div>
</div>

{% endblock %}
