{% extends "main/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" href="{% static 'css/timeline.css' %}">
{% endblock %}

{% block title%}
{% trans 'Package Detail' %}
{% endblock%}

{% block content %}
<div class="w3-row">
    <div class="w3-half w3-card-2 w3-round w3-container w3-mobile ">
        <div class="timeline" style="width:500px">
          <div class="container left">
            <div class="content">
              <h6>Package added by me</h6>
              <p>{{package.created_date}}</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h6>Package arrived in Warehouse</h6>
              <p>{{package.wh_received_date}}</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h6>Package shipped from Warehouse</h6>
              <p>{{package.parent_package.shipped_date}}</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h6>Package Received by
                {% if package.ship_to_col %}
                  Collector
                {% else %}
                  {{package.ship_to_add.first_name}} {{package.ship_to_add.last_name}}
                {% endif %}</h6>
              <p>{{package.picked_up_date}}</p>
            </div>
          </div>
        </div>
    </div>


    <div class="w3-rest">

      <h2>{{package.cust_tracking_num}}
       - {{package.cust_carrier}}
      {% if package.order %}(Order)
      {% elif package.coshiping%}(Co-shipping Package)
      {% else %}(Direct Shipping)
      {% endif %}
      </h2>
      <h4>Ship to:</h4>
      {% if package.ship_to_add %}
      {% include "blocks/address_card_no_button.html" with add=package.ship_to_add%}
      {% elif package.ship_to_col %}
      {% include "blocks/col_card_no_button.html" with col=package.ship_to_col%}
      {% endif %}
      <div class="w3-row">
          <h6>Package type: {{package.package_type}}</h6>
          <h6>Outgoing shipping carrier:{{package.parent_package.carrier}}</h6>
          <h6>Weight: {{package.Weight}}(kg)</h6>
          <h6>Original Amount: {% if package.shipping_fee %}{{package.shipping_fee}}{% else %}N/A{% endif %}</h6>
          {% if package.storage_fee %}<h6>Storage fee: {{package.storage_fee}}</h6>{% endif %}
          <h6>ADD !! Paid Amount: {% if package.shipping_fee %}{{package.shipping_fee}}{% else %}N/A{% endif %}</h6>
          {% if package.storage_fee %}<h6>Storage fee: {{package.storage_fee}}</h6>{% endif %}

          <h6>Low Volume Weight Requested: {{package.low_volume_request}}</h6>
          {% if not package.co_shipping %}<h6>No Rush Requested: {{package.no_rush_request}}</h6>{% endif %}

      </div>
    </div>
</div>

{% if package.packageimage_set.all %}
<h5>Package Snapshot:</h5>
  {% for image in package.packageimage_set.all %}
  <div class="w3-row w3-card-2 w3-container" style="max-width: 90%">
    <img src = "{{image.image.url}}">
  </div>
  {% endfor %}
{% endif %}

{% if package.item_set.all %}
<h5>Package Item details:</h5>
  {% for item in package.item_set.all %}
  <div class="w3-row  w3-card-2 w3-container">
    Item name: {{item.item_name}}<br/>
    Item detail:{{item.item_detail}}<br/>
    Item quantity:{{item.item_quantity}}<br/>
  </div>
  {% endfor %}
{% endif %}

</div>
{% endblock %}
