{% extends "main/base.html" %}
{% load static%}

{% block title%}
<title>Update Profile | Qycs Global Shipping Inc. | English Official Website </title>
{% endblock%}

{% block content %}

<h1>{{ user.username }}</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% else %}

<h2>Package {{tracking_num}} has added successfully!</h2>

	{% if service_list %}
	    <ul>
	    {% for service in service_list %}
	        <li>{{ service }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No service are available.</p>
	{% endif %}

{% endif %}


<a href="{% url 'add_package' %}"> Add new Package</a>


{% endblock %}
