{% extends "main/base_site.html" %}
{% load i18n static %}
{% load mathfilters %}

{% block title%}
{% trans 'Upcoming Packages' %}
{% endblock%}

{% block content %}
<form method = "post" class="w3-margin-top">
{% csrf_token %}
<div class="w3-cell w3-container w3-mobile">
  {% if parent_package_list or order_list or co_shipping_list or direct_shipping_list %}
    <div class="w3-container">

      {% if parent_package_list %}
          <div class="text-xxlarge">{% trans 'Direct Shipping Package(s)' %}</div>
          <table class="w3-mobile" style="width:100%; overflow:auto; max-height:400px;">
              <thead>
                  <tr><th class="w3-col w3-text-blue select_column text-regular-bold" style="width:100px;">
                    <input type="checkbox" id="select_all_direct_package">&nbsp;{% trans 'Select All' %}
                  </th><th class="text-regular-bold content_right">{% trans 'Big Package(s)' %}</th></tr>
              </thead>
              <tbody>

                {% for package in parent_package_list %}
                    {% if not package.paid_amount %}
                        <tr class="w3-cell-row"><td  class="w3-cell select_column" style="width:5%;">
                          <input type="checkbox" name="parent_package_set" value="{{package.id}}" id="id_parent_package_set_{{ forloop.counter0 }}">
                        </td><td class="w3-cell w3-rest">

                              {% include "blocks/cart_direct_packages.html" with package=package %}

                        </td></tr>
                    {% endif %}
                {% endfor %}

            </tbody>
          </table>
      {% endif %}


        {% if order_list %}
        		<div class="text-xxlarge">{% trans 'Global Shopping Cart' %}</div>
            <table class="w3-mobile" style="width:100%; overflow:auto; max-height:400px;">
                <thead>
                    <tr><th class="w3-col w3-text-blue select_column text-regular-bold" style="width:100px;">
                      <input type="checkbox" id="select_all_order">&nbsp;{% trans 'Select All' %}
                    </th><th class="text-regular-bold content_right">{% trans 'Order(s)' %}</th></tr>
                </thead>
                <tbody>

                  {% for package in order_list %}
                      <tr class="w3-cell-row"><td  class="w3-cell select_column" style="width:5%;">
                        <input type="checkbox" name="package_set" value="{{package.id}}" id="id_package_set_{{ forloop.counter0 }}">
                      </td><td class="w3-cell w3-rest">
                        {% include "blocks/cart_order.html" with package=package %}
                      </td></tr>
                  {% endfor %}

              </tbody>
            </table>
        {% endif %}


        {% if co_shipping_list %}
            <div class="text-xxlarge">{% trans 'Co-shipping Cart' %}</div>


        		<button class="logo-red" type="button" onclick="window.location.href = '{% url 'collection_points' %}'">{% trans 'Add Co-shipping Package' %}</button>


            <table class="w3-mobile" style="width:100%;overflow:auto; max-height:400px;">
                <thead>
                    <tr><th class="w3-col w3-text-blue select_column text-regular-bold" style="width:100px;">
                      <input type="checkbox" id="select_all_coshipping">&nbsp;{% trans 'Select All' %}
                    </th><th class="text-regular-bold content_right">{% trans 'Package(s)' %}</th></tr>
                </thead>
                <tbody>

                  {% for package in co_shipping_list %}
                      <tr class="w3-cell-row"><td  class="w3-cell select_column" style="width:5%;">
                        <input type="checkbox" name="package_set" value="{{package.id}}" id="id_package_set_{{ forloop.counter0 }}">
                      </td><td class="w3-cell w3-rest">
                        {% include "blocks/cart_coshipping.html" with package=package %}
                      </td></tr>
                  {% endfor %}

              </tbody>
            </table>
        {% endif %}

        {% if direct_shipping_list %}
        		<div class="text-xxlarge">{% trans 'Direct Shipping Cart' %}</div>
            <button class="logo-blue" type="button" onclick="window.location.href = '{% url 'add_direct_shipping' %}'">{% trans 'Add Direct Shipping Package' %}</button>
            <span class="w3-right"><button class="logo-red" type="button" onclick="window.location.href = '{% url 'confirm_direct_shipping' %}'">{% trans 'Ready to Ship' %}</button></span>

            <table class="w3-mobile" style="width:100%;">
                <thead>
                    <tr><th class="text-regular-bold content_right">{% trans 'Package(s)' %}</th></tr>
                </thead>
                <tbody style="overflow:auto; max-height:100px;">
                  {% for package in direct_shipping_list %}
                      <tr class="w3-cell-row"><td class="w3-cell w3-rest">
                        {% include "blocks/cart_direct_shipping.html" with package=package lessline="yes"%}
                      </td></tr>
                  {% endfor %}
              </tbody>
            </table>
        {% endif %}
	</div>
  {% else %}
  <div class="text-xxlarge">{% trans 'No package' %}</div>
  <div class="w3-row">
      <button class="logo-red" type="button" onclick="window.location.href = '{% url 'collection_points' %}'">{% trans 'Add Co-shipping Package' %}</button>
      <button class="logo-blue" type="button" onclick="window.location.href = '{% url 'add_direct_shipping' %}'">{% trans 'Add Direct Shipping Package' %}</button>
  </div>
  {% endif %}
</div>
<script src="{% static 'js/package_cart.js' %}"></script>
{% endblock %}







{% block sidebar %}
    {% if parent_package_list or order_list or co_shipping_list or direct_shipping_list %}
    <div class="w3-container w3-cell w3-mobile w3-margin-top" style="width:300px;">
        <div class="w3-card-2 w3-round w3-container w3-padding-16" id="payment_sidebar">
            <div class="text-medium">{% trans 'Place Packages' %}:</div>
            <div id="selected_list">
            </div>
            <hr class="w3-border-grey"/>
              <div class="w3-row" id="coupon_block">{% trans 'Coupon' %}:<input type="hidden" name="code" id="id_code" class="w3-input w3-border"><span class="w3-text-blue w3-right "  onclick="apply_coupon('{{ csrf_token }}','{% url 'coupon' %}')" id="apply_coupon">{% trans 'Apply' %}</span></div>
              <hr class="w3-border-black"/>
            <div id="amount_block">{% trans 'Total Amount' %}:<span class="w3-right" id="id_total_amount">0.00</span></div>
            <div class="w3-row">{{order.insurance.label_tag}}<span class="w3-right" id="id_total_amount">{{order.insurance}}</span></div>
            <input type="submit" value="{% trans 'Submit' %}" class="w3-right logo-red">
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}
