{% extends "main/base_site.html" %}

{% load i18n static %}

{% block title%}
{{user.username}}{% trans "'s Packasge History'" %}
{% endblock%}

{% block content %}

<div class="w3-panel w3-margin-top content_center">
    <div class="text-large-bold">{% trans 'Packages History' %}</div>
</div>
<hr/>

<div class="w3-panel content_center"  style="overflow:auto; min-height:30vw;">
	<button type="button" class="logo-red" onclick="window.location.href = '{% url 'collection_points' %}'">{% trans 'Add Co-shipping Package' %}</button>

	<button type="button" class="logo-blue" onclick="window.location.href = '{% url 'add_direct_shipping' %}'">{% trans 'Add Direct Shipping Package' %}</button>
	<div class="text-medium">{% trans 'view packages placed with in' %}</div>
	<select>
		{% for year in package_list.created_date.year %}
	    <option value="all"  selected>all</option>
	    <option value={{year}}>{{year}}</option>
	    {% endfor %}
	</select>
<div class="packages_block"  style="overflow:auto; max-height:500px;">

	<table class="w3-mobile">
			<tbody>
		{% if package_list %}
				{% for package in package_list %}
					{% if not package.order %}
						<tr class="w3-cell-row"><td class="w3-cell w3-rest">
							<div class="w3-card-2 w3-round w3-panel package w3-padding-16">
										<div class="w3-quarter w3-container">
											<div class="cust_tracking_num text-regular-bold">{{package.cust_tracking_num}}</div>

												{{package.get_cust_carrier_display}} ({{package.wh_received.country}})<br/>
												{% if package.created_date %}
												{% trans 'Created on' %}: {{package.created_date|date:"M d, Y" }}<br/>{% endif %}
												{% if package.weight %}
													{{package.weight}}(KG)<br/>{% endif %}
									</div>
								<div class="w3-quarter w3-container">

									{% if package.ship_to_add %}
									<div class="text-regular-bold">{% trans 'Direct Shipping to' %}:</div>

												{{package.ship_to_add.last_name}}, {{package.ship_to_add.first_name}}<br/>
													{{package.ship_to_add.address}}{% if package.ship_to_add.apt %} | {{package.ship_to_add.apt}}{% endif %}<br/>
													{{package.ship_to_add.city}}, {{package.ship_to_add.state}} {{package.ship_to_add.zipcode}}<br/>
													{{package.ship_to_add.country}}<br/>



									{% elif package.ship_to_col %}
									<div class="text-regular-bold">{% trans 'Co-shipping to' %}:</div>
									<div class="logo-text-blue"><i>{{package.receiver.last_name}},{{package.receiver.first_name}}</i> ({{package.receiver.phone}})</div>
									<div class="logo-text-red">{{package.ship_to_col.name}}</div>
														{{package.ship_to_col.address}}{% if package.ship_to_col.apt %} | {{package.ship_to_col.apt}}{% endif %}<br/>
														{{package.ship_to_col.city}}, {{package.ship_to_col.state}} {{package.ship_to_col.zipcode}}<br/>
														{{package.ship_to_col.country}}<br/>

									{% endif %}

								</div>

								<div class="w3-quarter w3-container">
										<div class="text-regular-bold">{% trans 'Package Status' %}</div>
								</div>

								<div class="w3-quarter w3-container">
											<div class="text-regular-bold">{% trans 'Price' %}</div>
											{% if package.order_amount %}
												{% trans 'Order Amount' %}: {{package.currency}} <span id="order_amount_{{ forloop.counter0 }}" class="order_amount">{{package.order_amount}}</span><br/>
											{% endif %}
											{% if package.storage_fee %}
												{% trans 'Storage fee' %}: {{package.currency}} <span id="storage_fee_{{ forloop.counter0 }}" class="storage_fee">{{package.storage_fee}}</span><br/>
											{% endif %}
											{% if package.shipping_fee %}
												{% trans 'Shipping fee' %}: {{package.currency}} <span id="shipping_fee_{{ forloop.counter0 }}" class="shipping_fee">{{package.shipping_fee}}</span><br/>
											{% endif %}
											{% trans 'Total Amount' %}: {{package.currency}} <span id="total_amount_{{ forloop.counter0 }}" class="total_amount"></span><br/>

								{% if package.issue %}<div class="errornote">{% trans 'There are some issue with your packages. Please check package detail.' %}</div>{% endif %}
								<button type="button" class="w3-right w3-light-grey w3-text-blue" onclick="window.location.href='{{package.get_absolute_url}}'">{% trans 'detail' %}</button>
								</div>
								</div>
						</td></tr>
						{% else %}

						<tr class="w3-cell-row"><td class="w3-cell w3-rest">
							<div class="w3-card-4 w3-border-red w3-round w3-panel package w3-border w3-padding-16">
										<div class="w3-quarter w3-container">
												<div class="cust_tracking_num text-regular-bold">{% trans 'Order'%} ({{package.created_date|date:"m/d/Y" }})</div>

												{% if package.ship_to_add %}
												<div>{% trans 'Direct Shipping to' %}:</div>

															{{package.ship_to_add.last_name}}, {{package.ship_to_add.first_name}}<br/>
																{{package.ship_to_add.address}}{% if package.ship_to_add.apt %} | {{package.ship_to_add.apt}}{% endif %}<br/>
																{{package.ship_to_add.city}}, {{package.ship_to_add.state}} {{package.ship_to_add.zipcode}}<br/>
																{{package.ship_to_add.country}}<br/>

												{% elif package.ship_to_col %}
												<div>{% trans 'Co-shipping to' %}:</div>
												<div class="logo-text-blue"><i>{{package.receiver.last_name}},{{package.receiver.first_name}}</i> ({{package.receiver.phone}})</div>
												<div class="logo-text-red">{{package.ship_to_col.name}}</div>
																	{{package.ship_to_col.address}}{% if package.ship_to_col.apt %} | {{package.ship_to_col.apt}}{% endif %}<br/>
																	{{package.ship_to_col.city}}, {{package.ship_to_col.state}} {{package.ship_to_col.zipcode}}<br/>
																	{{package.ship_to_col.country}}<br/>

												{% endif %}


									</div>
									<div class="w3-quarter w3-container">
										<div class="text-regular-bold">{% trans 'Items' %}</div>
											{% if package.item_set.all %}
												<ul>
													{% for item in package.item_set.all %}
													<li>{{item.item_name}} - {{item.currency}}{{item.item_value}}</li>
													{% endfor %}
												</ul>
											{% else %}
													{% trans 'No information at this time.' %}
											{% endif %}
									</div>


									<div class="w3-quarter w3-container">
											<div class="text-regular-bold">{% trans 'Order Status' %}</div>
									</div>

									<div class="w3-quarter w3-container">
										<div class="text-regular-bold">{% trans 'Price' %}</div>
												{% if package.order_amount %}
													{% trans 'Order Amount' %}: {{package.currency}} <span id="order_amount_{{ forloop.counter0 }}" class="order_amount">{{package.order_amount}}</span><br/>
												{% endif %}
												{% if package.storage_fee %}
													{% trans 'Storage fee' %}: {{package.currency}} <span id="storage_fee_{{ forloop.counter0 }}" class="storage_fee">{{package.storage_fee}}</span><br/>
												{% endif %}
												{% if package.shipping_fee %}
													{% trans 'Shipping fee' %}: {{package.currency}} <span id="shipping_fee_{{ forloop.counter0 }}" class="shipping_fee">{{package.shipping_fee}}</span><br/>
												{% endif %}
												{% trans 'Total Amount' %}: {{package.currency}} <span id="total_amount_{{ forloop.counter0 }}" class="total_amount"></span><br/>

											{% if package.issue %}<div class="errornote">{% trans 'There are some issue with your packages. Please check package detail.' %}</div>{% endif %}
											<button type="button" class="w3-right w3-light-grey w3-text-blue" onclick="window.location.href='{{package.get_absolute_url}}'">{% trans 'detail' %}</button>
									</div>
								</div>

						</td></tr>
						{% endif %}
				{% endfor %}
		{% endif %}
	</tbody>
	</table>

</div>
</div>
{% endblock %}
