{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
Update Profile | Qycs Global Shipping Inc. | English Official Website
{% endblock%}

{% block messages %}
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if form.errors %}
    <ul class="messagelist">
        {% for message in form.errors %}
        <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if webformset.errors %}
    <ul class="messagelist">
        {% for message in webformset.errors %}
        <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if profileform.errors %}
    <ul class="messagelist">
        {% for message in profileform.errors%}
        <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock messages %}



{% block content %}
<div class="w3-container">
	{% if user.is_authenticated %}
			<h1>Page not found!</h1>
	{% else %}
			<br/><h2> Create My Qycs Account</h2>

			<form method = "post">
			{% csrf_token %}
		  <!-- One "tab" for each step in the form: -->
			  <div id = "userform" class="tab">
						<div class = "w3-row w3-container">
							Username: {{form.username}}
							Password1: {{form.password1}}
							Password2:{{form.password2}}
							Country:{{profileform.country}}
						</div>
						<h4>In order to provide the best service to you and other customers, please enter 3 of your favorite websites below!</h4>
						<div class='w3-row'>
								{{ webformset.management_form }}
								{% for subform in webformset%}
								<div class='w3-third w3-container'>
									Website Type:
									{{subform.web_type}}
								</div>
								<div class='w3-rest w3-container'>
									Website Name:
									{{subform.web_name}}
								</div>
								{% endfor %}

						</div>
						<button> id = "nextform" Next</button>
				</div>
		  <div id ="profileform" class="tab w3-row">
				<div class='w3-row'>
					<div class='w3-half w3-container'>
						First name(optional):{{form.first_name}}
					</div>
					<div class='w3-half w3-container'>
						Last name(optional):{{form.last_name}}
					</div>
				</div>
				<div class='w3-row'>
				 	<div class='w3-half w3-container'>
						Date of Birth(optional):<br/>{{profileform.birthday}}
					</div>
					<div class='w3-half w3-container'>
						Language(optional):{{profileform.language}}
					</div>
				</div>
				<div class='w3-row'>
				 	<div class='w3-half w3-container'>
						Email(optional):{{form.email}}
					</div>
					<div class='w3-half w3-container'>
						Phone Number(optional):{{profileform.phone}}
					</div>
				</div>
				<input type = "submit" value ="Register">
        <button type="button" onclick="window.location.href = '{% url 'home'%}'" >Cancel</button>
				<button type="submit" name="colregister" value="colregister" >Register as Collector</button>
        <button type="button" class="cleanBtn">Clear Form</button>

      </div>

		</form>




	{% endif %}
{% block col_form%}{% endblock %}
</div>
{% endblock %}



{% block script %}
<script>

function validateUserForm() {
// This function deals with validation of the form fields
var x, y, i, valid = true;
x = document.getElementsByid("userform");
y = x.getElementsByTagName("input");
// A loop that checks every input field in the current tab:
for (i = 0; i < y.length; i++) {
	// If a field is empty...
	if (y[i].value == "") {
		// add an "invalid" class to the field:
		y[i].className += " invalid";
		// and set the current valid status to false
		valid = false;
	}
	if (i==2){
		if (y[i].value != y[i-1].value){
			valid = false;
			alert("Passwords are not match!");
		}
	}
}
return valid;
}

$(document).ready(function(){
		$("input").focus(function(){
			$(this).val('');
		});
    $(".cleanBtn").click(function(){
      $(this).closest('form').find("input[type=text], textarea").val("");
    });

		$("#nextform").click(function(){
			// if(validateUserForm()){
				$("#profileform").show();
				$("#userform").hide();
			// }
		});
	})


</script>
{% endblock%}
