{% extends "main/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
    <link rel="stylesheet" href="{% static 'main/css/multistepform.css'%}"/>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block branding %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="w3-panel w3-center">
        <img src="{%static 'main/image/qycs_icon.png'%}" width="100" height="100">
    </div>

    <div id="content-main" class="w3-container">
        {% if user.is_authenticated %}
          <p class="errornote">
            {% blocktrans trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktrans %}
          </p>
        {% endif %}
        {% if form.errors and not form.non_field_errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}
                    {% trans "Please correct the error below." %}
                {% else %}
                    {% trans "Please correct the errors below." %}
                {% endif %}
            </p>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
        {% endif %}

        <form id="regForm" method="post">
            {% csrf_token %}
            <h3>{% trans "Create My Qycs Account" %}</h3>

            <!-- One "tab" for each step in the form: -->
            <div class="tab">
              <div class="form-row">
                {{ form.username.errors }}
                {{ form.username.label_tag }} {{ form.username }}
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
              <div class="form-row">
                {{ form.password1.errors }}
                {{ form.password1.label_tag }} {{ form.password1 }}
              </div>
              <div class="form-row">
                {{ form.password2.errors }}
                {{ form.password2.label_tag }} {{ form.password2 }}
              </div>
              <div class="form-row">
                {{ form.email.errors }}
                {{ form.email.label_tag }} {{ form.email }}
              </div>
              <div class="form-row">
                {{ form.country.errors }}
                {{ form.country.label_tag }} {{ form.country }}
              </div>
            </div>
            <div class="tab">
              <div class="form-row">
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }} {{ form.first_name }}
              </div>
              <div class="form-row">
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }} {{ form.last_name }}
              </div>
              <div class="form-row">
                {{ form.birthday.errors }}
                {{ form.birthday.label_tag }}
                <div class="w3-row">{{ form.birthday }}</div>
              </div>
              <div class="form-row">
                {{ form.phone.errors }}
                {{ form.phone.label_tag }} {{ form.phone }}
              </div>
            </div>
            <div class="tab WebFormSet">
              <p>
                {% blocktrans %}
                    In order to provide the best service to you and other customers,
                    please enter 3 of your favorite shopping websites below!
                {% endblocktrans %}
              </p>
              {{ webformset.management_form }}
              {% for subform in webformset%}
                  <div class="form-row">
                    {{ subform.web_type.errors }}
                    {{ subform.web_type.label_tag }}
                    <div class="w3-row">{{ subform.web_type }}</div>
                  </div>
                  <div class="form-row">
                    {{ subform.web_name.errors }}
                    {{ subform.web_name.label_tag }} {{ subform.web_name }}
                  </div>
              {% endfor %}
            </div>


            <div class="w3-row w3-right">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" style="display:none;">{% trans "Previous" %}</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" style="display:none;">{% trans "Next" %}</button>
                <span id="submit_block">
                  <button type = "submit" name="register" value ="Register">{% trans "Register" %}</button>
                  <button type="submit" name="colregister" value="colregister">{% trans "Register as Collector" %}</button>
                </span>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div class="w3-panel" style="text-align:center;">
              <span class="step"></span>
              <span class="step"></span>
              <span class="step"></span>
            </div>


        </form>
    </div>
<script type="text/javascript" src="{% static 'main/js/register.js' %}"></script>
{% endblock%}
