{% extends "main/base.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block content %}

<div class="w3-container">
	{% if user.is_authenticated %}
			<br/><h1>Page not found!</h1>

			
	{% else %}

		<br/><h2> Create My Qycs Account</h2>

		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}

		<form method = "post">
			{% csrf_token %}

			<div class='w3-row w3-container'>
				<label for="id_username">Username:</label> <input type="text" name="username" class="w3-input w3-border" autofocus id="id_username" />
				<label for="id_password1">Password1:</label> <input type="text" name="password1" class="w3-input w3-border" required id="id_password1" />
				<label for="id_password2">Password2:</label> <input type="text" name="password2" class="w3-input w3-border" required id="id_password2" />
				<label for="id_country">Country:</label> <input type="text" name="country" class="w3-input w3-border" id="id_country" />
			</div>
			{{ webformset.management_form }}
		 	{% for subform in webformset%}
		 	<div class='w3-row'>
			 	<div class='w3-half w3-container'>
				 	Website Type:
				 	{{subform.web_type}}
				</div>
			 	<div class='w3-half w3-container'>
			 		Website Name:
			 		{{subform.web_name}}
			 	</div>
		 	</div>
			{% endfor %}
			<div class='w3-row'>
				<div class='w3-half w3-container'>
					<label for="id_first_name">First name:</label> <input type="text" name="first_name" class="w3-input w3-border" required id="id_first_name" />
				</div>
				<div class='w3-half w3-container'>
					<label for="id_last_name">Last name:</label> <input type="text" name="last_name" class="w3-input w3-border" id="id_last_name" />
				</div>
			</div>
			<div class='w3-row'>
			 	<div class='w3-half w3-container'>
					<label for="id_birthday">Date of Birth:</label> <input type="date" name="birthday" class="w3-input w3-border" id="id_birthday" />
				</div>
				<div class='w3-half w3-container'>
					<label for="id_language">Language:</label> <input type="text" name="language" class="w3-input w3-border" id="id_language" />
				</div>
			</div>
			<div class='w3-row'>
			 	<div class='w3-half w3-container'>
					<label for="id_email">Email:</label> <input type="text" name="email" class="w3-input w3-border" required id="id_email" />
				</div>
				<div class='w3-half w3-container'>
					<label for="id_phone">Phone Number:</label> <input type="text" name="phone" class="w3-input w3-border" id="id_phone" />
				</div>
			</div>
			<input type = "submit" value = "Register">
		</form>
	{% endif %}

</div>
{% endblock %}