{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
Update Profile | Qycs Global Shipping Inc. | English Official Website
{% endblock%}

{% block content %}
<div class="w3-container">
{% if user.is_authenticated %}
{% block content_title %}{% endblock %}
<h1>Page cannot open!</h1>
You have logged in to MyQycs. If you want to change your password <a href="{% url 'changepassword'%}">click here<a/>!

{% else %}

	!!! has error in the cmd window during the reset password process, but the processes work!
	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

	<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Reset my password" />
	<br/>
	</form>
{% endif %}
</div>
{% endblock %}
