{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Shipping ways' %}
{% endblock%}

{% block content %}
    <div class="w3-row w3-panel">
      <div class="w3-twothird w3-center">
        <div class="w3-card-2" style="height:30vw;">
          shipping details
        </div>

              <button  class="logo-blue" type="button"  onclick="window.location.href = '{% url 'add_direct_shipping' %}'">{% trans 'Direct shipping' %}</button>
              <button class="logo-red" type="button"  onclick="window.location.href = '{% url 'collection_points' %}'">{% trans 'Co-shipping' %}</button>
              <button class="logo-blue" type="button"  onclick="window.location.href = '{% url 'collection_points' %}'">{% trans 'Help me choose' %}</button>
      </div>
      <div class="w3-rest circle w3-right">
          <div id="shipping_full_circle">
            <a href="javascript:history.back()">
              {% trans 'SHIPPING' %}&emsp;<i class="fa fa-angle-double-right"></i>
            </a>
          </div>
      </div>
    </div>

{% endblock %}
