{% extends "main/account.html" %}

{% block title%}
<title>Qycs Global Shipping Inc. | Change the title | English Official Website </title>
{% endblock%}


{% block account_content %}
    <div class="w3-cell w3-container">
        <h2> Update My Profile</h2>

        <ul class="messages">
            {% if messages %}

                {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}

            {% endif %}
            {% if form.errors %}

                {% for message in form.errors%}
                 <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}

            {% endif %}
        </ul>

        <form method = "post">
        {% csrf_token %}
        <div class="w3-row">
            <div class="w3-half w3-container">
                <label for="first_name">First Name: </label>
                <input id="first_name" type="text" class= "w3-input w3-border" name="first_name" onfocus="this.value=''" value="{{ user.first_name }}" required>
            </div>
            <div class="w3-half w3-container">
                <label for="last_name">Last Name: </label>
                <input id="last_name" type="text" class= "w3-input w3-border" name="last_name" onfocus="this.value=''" value="{{ user.last_name }}" required>
            </div>
            <div class="w3-half w3-container">
                <label for="phone">Phone: </label>

                <input id="phone" type="text" class= "w3-input w3-border" name="phone" onfocus="this.value=''" value="{{ user.userprofile.phone }}" required>
            </div>
            <div class="w3-half w3-container">            
                {% if not user.email and  not user.userprofile.bound_email %}
                    <label for="email">Email Address:</label> 
                    <input id="email" type="text" class= "w3-input w3-border" onfocus="this.value=''" name="email" value="{{ user.email }}" required>
                {% endif %}
            </div>
            <div class="w3-half w3-container">

                {% if not user.userprofile.birthday %}
                    <label for="birthday">Birthday: </label>
                    <input id="birthday" class= "w3-input w3-border" type="date" name="birthday" value="{{ user.userprofile.birthday }}">
                {% endif %}
            </div>
        </div>
        <div class = "w3-container">
            <h4>Default Address:</h4>

            <button id="add_new_address_btn"> Add new address</button>
            {% if user.address_set.all %}
                <button id="select_address_btn"> Select from address book</button>
            {% endif %}
                <div id="default_address_card" class="w3-card-2 w3-round w3-container w3-mobile" style="width:500px">
                    <h4>{{user.userprofile.default_address.location_name}}</h4>
                    {% if not user.userprofile.default_address.follow_user_infor %}
                        <h5>{{user.userprofile.default_address.last_name}}, {{user.userprofile.default_address.first_name}}</h5>
                        {% if user.userprofile.default_address.phone and user.userprofile.default_address.email%}
                            {{user.userprofile.default_address.phone}} | {{user.userprofile.default_address.email}}<br/> 
                        {% elif user.userprofile.default_address.phone or user.userprofile.default_address.email%}
                            {{user.userprofile.default_address.phone}}{{user.userprofile.default_address.email}}<br/> 
                        {% endif %}
                    {% endif %}
                        {{user.userprofile.default_address.address}}<br/>
                        {{user.userprofile.default_address.apt}}<br/>
                        {{user.userprofile.default_address.city}}, {{user.userprofile.default_address.state}} {{user.userprofile.default_address.zipcode}}<br/>
                        {{user.userprofile.default_address.country}}<br/>
                </div>
        </div>            

            <div id = "addressForm" class=" w3-row" style="display: none">
                <div class="w3-container w3-mobile">
                    Address:<input type="text"  class= "w3-input w3-border" name="address" maxlength="300" required id="id_address" onfocus="this.value=''" value="{{ user.userprofile.default_address.address}}">
                </div>
                <div class="w3-row">
                    <div class="w3-half w3-container">
                        Apartment(optional):<input type="text" class= "w3-input w3-border" name="apt" maxlength="10" id="id_apt"onfocus="this.value=''" value="{{ user.userprofile.default_address.apt}}" >
                    </div>
                </div>
                <div class="w3-quarter w3-container">
                    City:<input type="text" class= "w3-input w3-border" name="city" maxlength="100" required id="id_city" onfocus="this.value=''" value="{{ user.userprofile.default_address.city}}">
                </div>
                <div class="w3-quarter w3-container">
                    State:<input type="text" class= "w3-input w3-border" name="state" maxlength="100" required id="id_state" onfocus="this.value=''" value="{{ user.userprofile.default_address.state}}">
                </div>
                <div class="w3-quarter w3-container">
                Country:<input type="text" class= "w3-input w3-border" name="country" maxlength="100" required id="id_country" onfocus="this.value=''" value="{{ user.userprofile.default_address.country}}">
                </div>
                <div class="w3-quarter w3-container">
                Zip code:<input type="text" class= "w3-input w3-border" name="zipcode" maxlength="5" required id="id_zipcode" onfocus="this.value=''" value="{{ user.userprofile.default_address.zipcode}}">
                </div>
                <div class="w3-quarter w3-container">
                Nikename(optional):<input type="text" class= "w3-input w3-border" name="location_name" maxlength="100" id="id_location_name" onfocus="this.value=''" value="{{ user.userprofile.default_address.location_name}}">
                </div>
            </div>


            <div id="address_book" class="w3-cell-row w3-container" style="display: none">
                
                {% for choice in user.address_set.all %}
                    <table class="w3-half w3-mobile"><tr class="w3-half"><td>
                        <input type="radio" class=" w3-radio" name="choice" id="choice{{ forloop.counter }}"
                            {% if choice == user.userprofile.default_address %} checked="checked" {% endif %} 
                            value="{{ choice.id }}">
                        </td><td>

                        <label for="choice{{ forloop.counter }}">

                            <div class="w3-card-2 w3-round w3-container w3-mobile" style="width:400px">
                                <h4>{{choice.location_name}}</h4>
                                {% if not choice.follow_user_infor %}
                                    <h5>{{choice.last_name}}, {{choice.first_name}}</h5>
                                    {% if choice.phone and choice.email%}
                                        {{choice.phone}} | {{choice.email}}<br/> 
                                    {% elif choice.phone or choice.email%}
                                        {{choice.phone}}{{choice.email}}<br/> 
                                    {% endif %}
                                {% endif %}
                                    {{choice.address}}<br/>
                                    {{choice.apt}}<br/>
                                    {{choice.city}}, {{choice.state}} {{choice.zipcode}}<br/>
                                    {{choice.country}}<br/>
                            </div>

                        </label>
                    </td></tr></table>

                {% endfor %}
                
            </div>
            <div class = "w3-container">
                <h4>Default Collection Point:</h4>
                {% if user.userprofile.default_col %}
                    <button id="change_col_btn"> Change</button><br/>
                        
                        <div class="w3-card-2 w3-round w3-mobile w3-container" style="width:500px">
                            <h4>{{user.userprofile.default_col.name}}
                                {% if user.userprofile.default_col.store %}
                                    (Store)
                                {% else %}
                                    (Personal Place)
                                {% endif %}
                            </h4>
                                {{user.userprofile.default_col.address}}<br/>
                                {{user.userprofile.default_col.apt}}<br/>
                                {{user.userprofile.default_col.city}}, {{user.userprofile.default_col.state}} {{user.userprofile.default_col.zipcode}}<br/>
                                {{user.userprofile.default_col.country}}<br/>
                        </div>

                {% else %}
                    <button id="select_col_btn"> Select a Collection Point</button>
                {% endif %}
                    
                <div id="collection_points_list" class="w3-cell-row" style="display: none">
                    {% if col_list %}
                        {% for col_choice in col_list %}
                            <table class="w3-half w3-mobile"><tr class="w3-half"><td>
                                <input type="radio" class=" w3-radio" name="col_choice" id="col_choice{{ forloop.counter }}" value="{{ col_choice.pk }}"
                            {% if col_choice == user.userprofile.default_col %} checked="checked" {% endif %}  /> 

                                </td><td>

                                <label for="col_choice{{ forloop.counter }}">

                                    <div class="w3-card-2 w3-round w3-container w3-mobile" style="width:500px">
                                        <h4>{{col_choice.name}}
                                            {% if col_choice.store %}
                                                (Store)
                                            {% else %}
                                                (Personal Place)
                                            {% endif %}
                                        </h4>
                                            {{col_choice.address}}<br/>
                                            {{col_choice.apt}}<br/>
                                            {{col_choice.city}}, {{col_choice.state}} {{col_choice.zipcode}}<br/>
                                            {{col_choice.country}}<br/>
                                    </div>

                                </label>
                            </td></tr></table>

                        {% endfor %}
                    {% else %}
                        <h5>No collection point is avaliable at this time!</h5>
                    {% endif %}

                </div>
            </div>




    <input type="submit" value="Update" id="update_btn">
    <a href="{% url 'account'%} "><button>Cancel</button></a>
</form>
</div>
{% endblock %}


{% block script%}
<script>
    $(document).ready(function(){
        $("#add_new_address_btn").click(function(){
             $("#addressForm").show();
             $("#address_book").remove();
             $("#select_address_btn").remove();
             $("#default_address_card").remove();
             $("#add_new_address_btn").remove();
        });
        $("#select_address_btn").click(function(){
             $("#address_book").show();
             $("#addressForm").remove();
             $("#add_new_address_btn").remove();
             $("#default_address_card").remove();
             $("#select_address_btn").remove();
        });
        // $("#update_btn").click(function(){

        //     if ($('#default_address_card').length > 0) { 
        //         $("#address_book").remove();
        //         $("#addressForm").remove();
        //     }
        //     if($('#select_col_btn').length > 0) { 
        //         $("#collection_points_list").remove();
        //     }
        // }
        $("#select_col_btn").click(function(){
             $("#collection_points_list").show();
             $("#select_col_btn").remove();

        });
    })
</script>
{% endblock %}