{% extends "main/base_site.html" %}
{% load i18n static %}

{% block title%}
{{user.username}}{% trans "'s Wallet'" %}
{% endblock%}

{% block content %}
<div class="content_center">
  <br>
<h2><img src="{% static 'image/reward-points.png' %}" alt="reward_points" height="50px" width="50px"/>{% trans " Reward Points" %}: {{user.reward}}</h2>

<br>
<br>
<br>

  <p>You begin getting points for qualifying shipping and shopping as soon as you sign up as Qycs users.
    <br>Your Qycs reward points become usable 15 days from payment completed (except the first three months from openning).</p>
    <p><i>If you want to know more about our reward points, please visit our FAQs or contact our customer service.</i></p>

</div>
{% endblock %}
