/* BACKGROUND */
.backdrop {
	background: #E6E6FA;
	filter: alpha(opacity=90);
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.background {
	background-image: url('background.png');
}