<div id="default_address_block">
<button type="button" id="add_new_address_btn"> Add new address</button>
{% if user.address_set.all %}
    <button type="button" id="select_address_btn"> Select from address book</button>
{% endif %}

{% if user.userprofile.default_address %}
    {% if newaddress %}
      {% include "blocks/default_address_card.html" with add=newaddress%}
      {% else %}
        {% include "blocks/default_address_card.html" with add=user.userprofile.default_address%}
    {% endif %}
{% else %}
{% if newaddress %}
  {% include "blocks/default_address_card.html" with add=newaddress%}
{% endif %}
{% endif%}
</div>


<div id="address_from_block" style="display: none">
  {% if "update" in request.path is False or "add" in request.path is False %}
    {% include "blocks/new_address_form.html" with addform=addform%}
  {% endif %}

1. When save button was click use ajax to post the data to address and then return the address.id
2. create the address card for this new address
</div>

<div id="address_book_block" style="display: none">
{% include "blocks/select_address.html"%}
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#add_new_address_btn").click(function(){
    if($('#newAddressFormModal').length!=0){
      $('#newAddressFormModal').modal('show');
    }//end of is form modal
  });

  $(".add_cancel_btn").click(function(){
       $('#newAddressFormModal').modal('hide');
  });



});//end of ready function

</script>
