{% include "blocks/new_address_form_popup.html"%}

{% if user.address_set %}
	{% include "blocks/select_address_popup.html"%}
{% endif %}


<div id="default_address_block">
<button type="button" id="add_new_address_btn"> Add new address</button>
{% if user.address_set.all %}
    <button type="button" id="select_address_btn"> Select from address book</button>
{% endif %}

{% if user.userprofile.default_address %}

    {% if newaddress %}
      {% include "blocks/default_address_card.html" with add=newaddress%}
      {% else %}
        {% include "blocks/default_address_card.html" with add=user.userprofile.default_address%}
    {% endif %}

{% else %}

  {% if newaddress %}
    {% include "blocks/default_address_card.html" with add=newaddress%}
  {% endif %}

{% endif%}
</div>

{% load static %}
<script src="{% static 'js/modals.js' %}"></script>

<script type="text/javascript">

$(document).ready(function(){
//
  $("#add_new_address_btn").click(function(){
      var user_obj={
                'first_name': '{{user.first_name}}',
                'last_name': '{{user.last_name}}',
                'email': '{{user.email}}',
                'phone': '{{user.userprofile.phone}}',
              }
      var submit_url="{% url 'useraddress' %}"
      var csrf="{{ csrf_token }}"
      createAddForm(user_obj, csrf, submit_url);
      $('#newAddressFormModal').modal('show');
  });

  $("#select_address_btn").click(function(){
       $('#selectAddressModal').modal('show');
  });
});//end of ready function

</script>
