{% load i18n static %}
<div class="w3-card-4 w3-border-red w3-round w3-row package w3-border w3-container">
    {% if package.weight %}
      <div class="w3-third w3-container">
          <div class="cust_tracking_num text-regular-bold">{% trans 'Direct Package'%} ({{package.created_date|date:"m/d/Y" }})</div>
              {% trans "Weight: " %}{{package.weight}}(KG)<br/>
              {% trans 'Ship to: '%}
              {% if package.service_set.first.ship_to_add %}
                          {% include "blocks/address_card_fields.html" with add=package.service_set.first.ship_to_add %}
              {% endif %}
    </div>
    {% endif %}

    <div class="w3-third w3-container">
      <div class="text-regular-bold">{% trans 'Small Package(s)'%}:</div>
        {% if package.service_set.all %}
          <ul>
            {% for sub in package.service_set.all %}
            <li><a class="w3-text-blue" href="{{sub.get_absolute_url}}">{{sub.cust_carrier}} - {{sub.cust_tracking_num}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
    <div class="w3-third w3-container">
      <div class="text-regular-bold">{% trans 'Price' %}</div>
          {% if package.package_amount %}
            {% trans 'Shipping fee' %}: {{package.currency}} <span id="shipping_fee_{{ forloop.counter0 }}" class="shipping_fee">{{package.package_amount}}</span><br/>
          {% endif %}
          {% trans 'Total Amount' %}: {{package.currency}} <span id="total_amount_{{ forloop.counter0 }}" class="total_amount"></span><br/>

          {% if package.issue %}<div class="errornote">{% trans 'There are some issue with your packages. Please check package detail.' %}</div>{% endif %}
    </div>
  </div>
