{% load i18n static %}
<div class="w3-card-2 w3-round w3-row package w3-container">
      <div class="w3-quarter w3-container">
        <div class="cust_tracking_num text-regular-bold">{{package.cust_tracking_num}}</div>

          {{package.get_cust_carrier_display}} ({{package.wh_received.country}})<br/>
          {% if package.created_date %}
          {% trans 'Created on' %}: {{package.created_date|date:"M d, Y" }}<br/>{% endif %}
          {% if package.weight %}
            {{package.weight}}(KG)<br/>{% endif %}
    </div>
  <div class="w3-half w3-container">

    <div class="text-regular-bold">{% trans 'Co-shipping to' %}:</div>
    <div class="logo-text-blue"><i>{{package.receiver.last_name}},{{package.receiver.first_name}}</i> ({{package.receiver.phone}})</div>
{% if package.ship_to_col %}
    {% include "blocks/col_less_fields.html" with col=package.ship_to_col %}
{% endif %}

  </div>

  <div class="w3-quarter w3-container">
        <div class="text-regular-bold">{% trans 'Price' %}</div>
        {% if package.order_amount %}
          {% trans 'Order Amount' %}: {{package.currency}} <span id="order_amount_{{ package.id }}" class="order_amount">{{package.order_amount}}</span><br/>
        {% endif %}
        {% if package.storage_fee %}
          {% trans 'Storage fee' %}: {{package.currency}} <span id="storage_fee_{{ package.id }}" class="storage_fee">{{package.storage_fee}}</span><br/>
        {% endif %}
        {% if package.shipping_fee %}
          {% trans 'Shipping fee' %}: {{package.currency}} <span id="shipping_fee_{{ package.id }}" class="shipping_fee">{{package.shipping_fee}}</span><br/>
        {% endif %}
        {% trans 'Total Amount' %}: {{package.currency}} <span id="total_amount_{{ package.id }}" class="total_amount"></span><br/>

  {% if package.issue %}<div class="errornote">{% trans 'There are some issue with your packages. Please check package detail.' %}</div>{% endif %}
  <button type="button" class="w3-right w3-light-grey w3-text-blue" onclick="window.location.href='{{package.get_absolute_url}}'">{% trans 'detail' %}</button>
  </div>
  </div>
