{% load i18n static %}


<div class="text-regular-bold">{{col.name}}
  {% if not col.status %}
    <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/>
  {% else %}
    <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/>
  {% endif %}
  {% if col.store %}
      ({% if col.store_name %}{% trans 'Store' %}{{col.store_name}}{% endif %})
  {% else %}
      ({% trans 'Personal Place' %})
  {% endif %}
  {% if col == user.default_col %}
   - {% trans 'Default' %}
  {% endif %}
</div>
{% if col.absent_start and not col.absent_ended %}
<div class="w3-row w3-text-red">
  <img src="{% static 'admin/img/icon-alert.svg' %}" alt="alert" style="width:15px;"/>
  {% trans 'Not available from' %} {{col.absent_start|date:"M d, Y"}} - {{col.absent_end|date:"M d, Y"}}.
</div>
{% endif %}
<a class="w3-text-blue" href="{% url 'add_co_shipping' col.pk %}">{% trans "Add package" %}</a> |
<a class="w3-text-blue" href="{{col.get_absolute_url}}">{% trans 'visit collection point' %}</a><br/>
{% trans 'Food' %}: {% if col.food %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %} |
{% trans 'Regular' %}: {% if col.regular %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %} |
{% trans 'Beauty' %}: {% if col.beauty %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %}<br/>
{{col.country|upper}} | {{col.state|upper}} | {{col.city|upper}}<br/>
{{col.address}}{% if col.apt %} --{{col.apt}}{% endif %}<br/>
{{col.zipcode}}<br/>
