<div class="w3-card-2 w3-round w3-half w3-container" id="default_col_card">
  <!-- {% if col.image %}
      <div class="w3-half w3-right">
          <img src = "{{col.image.url}}" style="width:100%">
      </div>
  {% endif %} -->

    <div>
          <h4>
              {{col.name}}
              {% if col.store %}
                  (Store)
              {% else %}
                  (Personal Place)
              {% endif %}
         </h4>
          {{col.address}}<br/>

          {% if col.apt %}
              {{col.apt}}
          {% endif %}

          {{col.city}}, {{col.state}} {{col.zipcode}}<br/>
          {{col.country}}<br/>


    </div>

</div>
