{% load i18n static %}



{% if col.collector_icon and not no_icon %}
    <img alt="collection point icon" src = "{{col.collector_icon.url}}" style="width:100%; max-width:280px; margin:auto;">
{% endif %}
<h5>{{col.name}}
  {% if not col.status %}
    <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/>
  {% else %}
    <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/>
  {% endif %}
  {% if col.store %}
      ({% trans 'Store' %})
  {% else %}
      ({% trans 'Personal Place' %})
  {% endif %}
</h5>
{% if col.absent_start %}
<div class="w3-row w3-text-red">
  <img src="{% static 'admin/img/icon-alert.svg' %}" alt="alert" style="width:15px;"/>
  Not avaliable from {{col.absent_start|date:"M d, Y"}} to {{col.absent_end|date:"M d, Y"}}.
</div>
{% endif %}
<a class="w3-text-blue" href="{{col.get_absolute_url}}">{% trans 'visit collection point' %}</a><br/>
{% trans 'Food' %}: {% if col.food %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %} |
{% trans 'Regular' %}: {% if col.regular %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %} |
{% trans 'Skincare' %}: {% if col.skincare %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes" style="width:15px;"/> {% else %} <img src="{% static 'admin/img/icon-no.svg' %}" alt="no" style="width:15px;"/> {% endif %}<br/>
{{col.country}} | {{col.state}} | {{col.city}}<br/>
{{col.address}}<br/>
{% if add.apt %}{{col.apt}}<br/>{% endif %}
{% if col.store_name %}{{col.store_name}}<br/>{% endif %}
{{col.zipcode}}<br/>
