{% load i18n static %}

{% if col.collector_icon%}
    <img src = "{{col.collector_icon.url}}" style="width:90%; margin:auto;">
{% endif %}
<h4>{{col.name}}
{% if col.store %}
    ({% trans 'Store' %})
{% else %}
    ({% trans 'Personal Place' %})
{% endif %}</h4>
<a class="w3-text-blue" href="{{col.get_absolute_url.collection_point_view}}">{% trans 'visit collection point' %}</a><br//>
{{col.country}} | {{col.state}} | {{col.city}}<br/>
{{col.address}}<br/>
{% if add.apt %}{{col.apt}}<br/>{% endif %}
{% if col.store_name %}{{col.store_name}}<br/>{% endif %}
{{col.zipcode}}<br/>
