<div class="w3-card-2 w3-round w3-half w3-container" id="default_col_card">
  <!-- {% if user.userprofile.default_col.image %}
      <div class="w3-half w3-right">
          <img src = "{{user.userprofile.default_col.image.url}}" style="width:100%">
      </div>
  {% endif %} -->

    <div>
          <h4>
              {{user.userprofile.default_col.name}}
              {% if user.userprofile.default_col.store %}
                  (Store)
              {% else %}
                  (Personal Place)
              {% endif %}
         </h4>
         <button type="button" onclick="window.location.href='{{user.userprofile.default_col.get_absolute_url.collection_point_view}}'">visit collection point</button><br/>
          {{user.userprofile.default_col.address}}<br/>

          {% if user.userprofile.default_col.apt %}
              {{user.userprofile.default_col.apt}}
          {% endif %}

          {{user.userprofile.default_col.city}}, {{user.userprofile.default_col.state}} {{user.userprofile.default_col.zipcode}}<br/>
          {{user.userprofile.default_col.country}}<br/>


    </div>

</div>
