<div id="default_address_card" class="w3-card-2 w3-round w3-container w3-mobile w3-half ">

<input type="hidden" name="selected_add" value="{{add.id}}" />

<h5 id="ln_fn">{{add.last_name}}, {{add.first_name}}</h5>
<div id="ph_em">
{% if add.phone and add.email%}
    {{add.phone}} | {{add.email}}
{% elif add.phone or add.email%}
    {{add.phone}}{{add.email}}
{% endif %}
</div>
<div  id="ad">
{{add.address}}
</div>
<div  id="ap">
{% if add.apt %}
    {{add.apt}}<br/>
{% endif %}
</div>

<div id="ct_st_zp">{{add.city}}, {{add.state}} {{add.zipcode}}</div>

</div>
