<div id="default_address_card" class="w3-card-2 w3-round w3-container w3-mobile" style="width:400px">

<input type="hidden" name="selected_add" value="{{add.id}}" />

{% if add.location_name %}
    <h4>{{add.location_name}}</h4>
{% endif %}

{% if not add.follow_user_infor %}
    <h5>{{add.last_name}}, {{add.first_name}}</h5>
    {% if add.phone and add.email%}
        {{add.phone}} | {{add.email}}<br/>
    {% elif add.phone or add.email%}
        {{add.phone}}{{add.email}}<br/>
    {% endif %}
{% else %}
    {{user.last_name}}, {{user.first_name}}<br/>
    {% if user.email and user.userprofile.phone %}
        {{user.email}} | {{user.userprofile.phone}}<br/>
    {% elif user.email or user.userprofile.phone%}
        {{user.email}}{{user.userprofile.phone}}<br/>
    {% endif %}
{% endif %}

{{add.address}}<br/>

{% if add.apt %}
    {{add.apt}}<br/>
{% endif %}

    {{add.city}}, {{add.state}} {{add.zipcode}}<br/>
    {{add.country}}<br/>

</div>