<fieldset class="module aligned {{ fieldset.classes }}">
{% if title %}<div class="text-large" >{{title}}</div>{% endif %}
    {% for line in fieldset %}
            <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.name %} field-{{ field.name }}{% endif %}{% endfor %}">
            {% for field in line %}
                {% if field.is_hidden %}
                    {{field}}
                {% else %}
                    <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.name %} field-{{ field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                        {% if field.checkbox %}
                            {{ field }}{{ field.label_tag }}
                        {% else %}
                            {{ field.label_tag}}
                            {% if field.is_readonly %}
                                <div class="readonly">{{ field.contents }}</div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endif %}
                        {% if field.help_text %}
                            <div class="help">{{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
          </div>
    {% endfor %}
</fieldset>
