{% load i18n static %}
<!-- id-{{element}}-modal start here -->
<div id="id-{{element}}-modal" class="w3-modal">
  <div class="w3-modal-content" style="width:50%;">
    <div class="close-header w3-xlarge w3-sand w3-container">
        <span class="w3-right close-modal">&times;</span>
        <p class="w3-center w3-text-indigo w3-sand">{{title}}</p>
    </div>
    <div id="id-{{element}}-content" class="modal-content w3-container w3-panel" style="overflow:auto;max-height:500px;">
        {% if block == 'wechat_qrcode_block' %}
            {% include "blocks/wechat_qrcode_block.html"%}
        {% elif block == 'email_block'%}
            {% include "blocks/email_block.html"%}
        {% elif block == 'select_address_block'%}
            {% include "blocks/select_address_block.html"%}
        {% elif block == 'new_address_block'%}
        <!-- error messages -->
              {% if addform.errors %}
              <div class="messagelist">
                  {% for field in addform%}
                  {% if field.errors%}
                      <div class="w3-row w3-container addform-errors"><div class="w3-quarter">{{ field.label_tag }}</div> <div class="w3-rest">{{field.errors}}</div></div>
                  {% endif %}
                  {% endfor %}
              </div>
              {% endif %}

        {% elif block == 'select_collection_point_block'%}
            {% include "blocks/select_collection_point_block.html"%}
        {% endif %}
    </div>
  </div>
</div>
<!-- id-{{element}}-modal end here -->
