<div class="w3-card-2 w3-round w3-container w3-mobile" style="width:450px">
  <form method="post" id="newAddressForm">
    <ul class="messagelist">
        {% if addform.errors %}
            {% for message in addform.errors%}
            <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
        {% endif %}
    </ul>
  {% csrf_token %}
   <h3> Add new address:</h3>
   <div class=" w3-row">
         <div>
             <button type="button" id="id_follow_user_infor">  Follow User Information</button>
         </div>
         <div class="w3-half w3-container">
         First Name:{{addform.first_name}}
         </div>
         <div class="w3-half w3-container">
         Last Name:
             {{addform.last_name}}
         </div>
         <div class="w3-half w3-container">
         Phone:
             {{addform.phone}}</div>
         <div class="w3-half w3-container">
         Email:
             {{addform.email}}</div>
         <div class="w3-container">
         Address:
             {{addform.address}}
         Apartment:
             {{addform.apt}}
         </div>
         <div class="w3-half w3-container">
         City:
             {{addform.city}}
         </div>
         <div class="w3-half w3-container">
         State:
             {{addform.state}}
         </div>
         <div class="w3-half w3-container">
         Country:
             {{addform.country}}
         </div>
         <div class="w3-half w3-container">
         Zip code:
             {{addform.zipcode}}
         </div>
   </div>
  <input type="submit" id="newAddressSubmitBtn" value="Save" >
  <button type = "button" class="add_cancel_btn" onclick="window.location.href='{% url 'useraddress' %}'">Cancel</button>
  </form>

  <script type="text/javascript">

    function isThere(param,id){
      if(param!=""){
        $("#"+id).attr('value', param);
      }
    }//end of isThere

    function populateDataList(lst,id,key,val){
      let content='<datalist id='+id+'>';
      jQuery.each(lst, function() {
        if(key=="state_id"){
          if($(this)[0].country_id==val){
            content+='<option value="'+$(this)[0].name+'">';
          }
        }
        else if(key=="city_id"){
          let i;
          for(i=0; i<val.length; i++){
            if($(this)[0].state_id==val[i]){
              content+='<option value="'+$(this)[0].name+'">';
            }
          }
        }
        else if(key=="country_id"){
          if($(this)[0].id==val){
            content+='<option value="'+$(this)[0].name+'">';
          }
        }
        else{
          content+='<option value="'+$(this)[0].name+'">';
        }

      });
      content+='</datalist>';
      return content;
    }//end of populateDataList


    function getId(list,value){
      let result="NULL";
      jQuery.each(list, function() {
        if($(this)[0].name==String(value)){
          result=$(this)[0].id;
          return
        }
      });
      return result;
    }//end of getId

    function getName(list,id){
      let result="NULL";
      jQuery.each(list, function() {
        if($(this)[0].id==id){
          result=$(this)[0].name;
        }
      });
      return result;
    }//end of getName

    $(document).ready(function(){
      $('#id_follow_user_infor').click(function(){
          isThere("{{user.first_name}}","id_first_name");
          isThere("{{user.last_name}}","id_last_name");
          isThere("{{user.email}}","id_email");
          isThere("{{user.userprofile.phone}}","id_phone");
      })

      let countires={{ countries|safe }};
      let states={{states|safe}};
      let cities={{cites|safe}};

      countriesDataList=populateDataList(countires,'countriesDataList','NULL',"NULL");
      statesDataList=populateDataList(states,'statesDataList','NULL',"NULL");
      citiesDataList=populateDataList(cities,'citiesDataList','NULL',"NULL");

      $('body').append(countriesDataList);
      $('body').append(statesDataList);
      $('body').append(citiesDataList);

      $('#id_country').attr('list','countriesDataList');
      $('#id_state').attr('list','statesDataList');
      $('#id_city').attr('list','citiesDataList');

      // country listener
      $('#id_country').change(function() {
        // get country id
        var countryId=getId(countires,$(this).val());

        // get state ids
        let stateIds=[]
        jQuery.each(states, function() {
          if($(this)[0].country_id==countryId){
            stateIds.push($(this)[0].id);
          }
        });

        $('body').find('#statesDataList').remove();
        $('body').find('#citiesDataList').remove();
        statesDataList=populateDataList(states,'statesDataList','state_id',countryId);
        citiesDataList=populateDataList(cities,'citiesDataList','city_id',stateIds);
        // console.log(citiesDataList);
        $('body').append(statesDataList);
        $('body').append(citiesDataList);

      });

      // state listener
      $('#id_state').change(function() {
        // State id
        var stateId=getId(states,$(this).val());

        $('body').find('#countriesDataList').remove();
        $('body').find('#citiesDataList').remove();


        citiesDataList=populateDataList(cities,'citiesDataList','city_id',[stateId]);


        // get countryID -> stateList and get country name
        let countryId="";
        jQuery.each(states, function() {
          if($(this)[0].id==stateId){
            countryId=$(this)[0].country_id;
          }
        });

        $('#id_country').val(getName(countires,countryId));
        $('body').append(citiesDataList);
      });

      // city listener
      $('#id_city').change(function() {
        $('body').find('#countriesDataList').remove();
        $('body').find('#statesDataList').remove();
        var cityId=getId(cities,$(this).val());

        // state getStateId -> cityList and get state name
        let stateId="";
        jQuery.each(cities, function() {
          if($(this)[0].id==cityId){
            stateId=$(this)[0].state_id;
            return;
          }
        });

        $('#id_state').val(getName(states,stateId));

        // get countryID -> stateList and get country name
        let countryID="";
        jQuery.each(states, function() {
          if($(this)[0].id==stateId){
            countryID=$(this)[0].country_id;
            return;
          }
        });
        $('#id_country').val(getName(countires,countryID));
      });



    })//end of ready method
  </script>

</div>



