<div class="w3-card-2 w3-round w3-container w3-mobile" style="width:450px">
  <form method="post" id="newAddressForm">
    <ul class="messagelist">
        {% if addform.errors %}
            {% for message in addform.errors%}
            <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
        {% endif %}
    </ul>
  {% csrf_token %}
   <h3> Add new address:</h3>
   <div class=" w3-row">
         <div>
             <button type="button" id="id_follow_user_infor">  Follow User Information</button>
         </div>
         <div class="w3-half w3-container">
         First Name:{{addform.first_name}}
         </div>
         <div class="w3-half w3-container">
         Last Name:
             {{addform.last_name}}
         </div>
         <div class="w3-half w3-container">
         Phone:
             {{addform.phone}}</div>
         <div class="w3-half w3-container">
         Email:
             {{addform.email}}</div>
         <div class="w3-container">
         Address:
             {{addform.address}}
         Apartment:
             {{addform.apt}}
         </div>
         <div class="w3-half w3-container">
         City:
             {{addform.city}}
         </div>
         <div class="w3-half w3-container">
         State:
             {{addform.state}}
         </div>
         <div class="w3-half w3-container">
         Country:
             {{addform.country}}
         </div>
         <div class="w3-half w3-container">
         Zip code:
             {{addform.zipcode}}
         </div>
   </div>
  <input type="submit" id="newAddressSubmitBtn" value="Save" >
  <button type = "button" class="add_cancel_btn" onclick="window.location.href='{% url 'useraddress' %}'">Cancel</button>
  </form>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript">

    function isThere(param,id){
      if(param!=""){
        $("#"+id).attr('value', param);
      }
    }//end of isThere


    function populateData(list,id,comp){
      if($('#'+id).length!=0){
        $('#'+id).remove()
      }
      let content='<datalist id="'+id+'">';
      let c;
      for(c=0; c<list.data.length; c++){
        content+='<option value="'+list.data[c]+'">';
      }
      content+='</datalist>';
      $('body').append(content);
      $('#'+comp).attr('list',id);
    }

    function getLocations(field,value,id) {
      let dt={'csrfmiddlewaretoken': "{{ csrf_token }}",
      'field':field,'value':value};
      $.ajax({
        type: "POST",
        url: "{% url 'location' %}",
        data: dt,
        success: function(data){
          populateData(data,id,field)
        },
        failure: function(data){

        },
      });
    }//end of getLocations





    $(document).ready(function(){
      $('#id_follow_user_infor').click(function(){
          isThere("{{user.first_name}}","id_first_name");
          isThere("{{user.last_name}}","id_last_name");
          isThere("{{user.email}}","id_email");
          isThere("{{user.userprofile.phone}}","id_phone");
      })

      var xhr;
      $("#id_country").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_country",$(this).val(),'countryListID')

        }
      });

      $("#id_state").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_state",$(this).val(),'stateListID')

        }
      });

      $("#id_city").keyup(function() {
        if (!xhr || xhr.readyState === 4) {
          getLocations("id_city",$(this).val(),'cityListID')

        }
      });

    })//end of ready method
  </script>

  <style>
  .ui-autocomplete {
      max-height: 200px;
      overflow-y: auto;   /* prevent horizontal scrollbar */
      overflow-x: hidden; /* add padding to account for vertical scrollbar */
      z-index:1000 !important;
  }
  </style>

</div>



