<div class="w3-card-2 w3-round w3-container w3-mobile" style="width:450px">
  <form method="post" id="newAddressForm">
    <ul class="messagelist">
        {% if addform.errors %}
            {% for message in addform.errors%}
            <li class="error" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
        {% endif %}
    </ul>
  {% csrf_token %}
   <h3> Add new address:</h3>
   <div class=" w3-row">
         <div>
             <button type="button" id="id_follow_user_infor">  Follow User Information</button>
         </div>
         <div class="w3-half w3-container">
         First Name:{{addform.first_name}}
         </div>
         <div class="w3-half w3-container">
         Last Name:
             {{addform.last_name}}
         </div>
         <div class="w3-half w3-container">
         Phone:
             {{addform.phone}}</div>
         <div class="w3-half w3-container">
         Email:
             {{addform.email}}</div>
         <div class="w3-container">
         Address:
             {{addform.address}}
         Apartment:
             {{addform.apt}}
         </div>
         <div class="w3-quarter w3-container">
         City:
             {{addform.city}}
         </div>
         <div class="w3-quarter w3-container">
         State:
             {{addform.state}}
         </div>
         <div class="w3-quarter w3-container">
         Country:
             {{addform.country}}
         </div>
         <div class="w3-quarter w3-container">
         Zip code:
             {{addform.zipcode}}
         </div>
   </div>
  <input type="submit" id="newAddressSubmitBtn" value="Save" >
  <button type = "button" class="add_cancel_btn" onclick="window.location.href='{% url 'useraddress' %}'">Cancel</button>
  </form>

  <script type="text/javascript">

    function isThere(param,id){
      if(param!=""){
        $("#"+id).attr('value', param);
      }
    }//end of isThere

    function populateDataList(lst,id){
      let content='<datalist id='+id+'>';
      jQuery.each(lst, function() {
        content+='<option value="'+$(this)[0].name+'">';
      });
      content+='</datalist>';
      return content;
    }//end of populateDataList

    $(document).ready(function(){
      $('#id_follow_user_infor').click(function(){
          isThere("{{user.first_name}}","id_first_name");
          isThere("{{user.last_name}}","id_last_name");
          isThere("{{user.email}}","id_email");
          isThere("{{user.userprofile.phone}}","id_phone");
      })

      let countires={{ countries|safe }};
      let states={{states|safe}};
      let cities={{cites|safe}};

      countriesDataList=populateDataList(countires,'countriesDataList');
      statesDataList=populateDataList(states,'statesDataList');
      citiesDataList=populateDataList(cities,'citiesDataList');
      $('body').append(countriesDataList);
      $('body').append(statesDataList);
      $('body').append(citiesDataList);
      $('#id_country').attr('list','countriesDataList');
      $('#id_state').attr('list','statesDataList');
      $('#id_city').attr('list','citiesDataList');



    })//end of ready method
  </script>

</div>



