{% load i18n static %}

{% if col_list %}
    <div  class="w3-row" style="overflow:auto;max-height:25vw;">
        {% for colchoice in col_list %}
            <div class="w3-half w3-container">
                <div class="w3-border w3-round w3-container w3-mobile colchoice {% if user.default_col == colchoice %}w3-pale-green{% endif%}" style="max-width: 300px;" id="{{ colchoice.pk }}">
                  {% include "blocks/col_card_fields.html" with col=colchoice %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="w3-row"><button type = "button" class="logo-red w3-right">{% trans 'Cancel'%}</button></div>
{% else %}
    <h5>{% trans 'No collection point is available at this time!' %}</h5>
{% endif %}
