{% load i18n static %}

{% if col_list %}
  <div  class="w3-row" style="overflow:auto; max-height:400px;">
        {% for colchoice in col_list %}
            <div class="w3-container">
                <div class="w3-card-2 w3-round w3-container w3-mobile colchoice {% if user.default_col == colchoice %}w3-pale-green{% endif%}" style="max-width: 300px;" id="{{ colchoice.pk }}">
                  {% include "blocks/col_card_fields.html" with col=colchoice%}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h5>{% trans 'No collection point is avaliable at this time!' %}</h5>
{% endif %}

<script src="{% static 'main/js/update_profile.js' %}"></script>
