
<div  class="w3-container">
{% for addchoice in user.address_set.all %}
    <div class="w3-card-2 w3-round w3-container w3-mobile addchoice" style="width:400px" id="{{ addchoice.id }}">
            <h5>{{addchoice.last_name}}, {{addchoice.first_name}}</h5>
            {% if addchoice.phone and addchoice.email%}
                {{addchoice.phone}} | {{addchoice.email}}<br/>
            {% elif addchoice.phone or addchoice.email%}
                {{addchoice.phone}}{{addchoice.email}}<br/>
            {% endif %}
            {{addchoice.address}}<br/>
            {% if addchoice.apt %}{{addchoice.apt}}<br/>{% endif %}
            {{addchoice.city}}, {{addchoice.state}} {{addchoice.zipcode}}<br/>
            {{addchoice.country}}<br/>

    </div>
{% endfor %}
</div>

<button type = "button" class="select_add_cancel_btn">Cancel</button>

<script type="text/javascript">
    $('.addchoice').click(function(){
      $('.addchoice').each(function(){
        $(this).css('background-color','#fff');
      })
      $(this).css('background-color','#ffb2b2');

      $('#default_address_card').remove();

      let element=$(this).clone();
      $('#default_address_block').append(element);
      $('#default_address_block').find('.w3-card-2').attr('id','default_address_card');
      $('#default_address_card').css('background-color','white');
      $('#default_address_card').append('<input type="hidden" name="selected_add" value='+$(this).attr("id")+' />');
      $('#selectAddressModal').modal('hide');
    });

</script>
