{% if col_list %}
    <table>
        {% for choice in col_list %}
            <tr><td>
                <input type="radio" name="choice" class=" w3-radio" id="choice{{ forloop.counter }}" value="{{ choice.pk }}"
                    {% if choice == user.userprofile.default_col %} checked="checked" {% endif %} />
                </td>

                <td><div class="w3-card-2 w3-round w3-container" style="width:400px">
                    <label for="choice{{ forloop.counter }}">

                        {% if choice.image%}
                            <img src = "{{choice.image.url}}" style="width:100%">
                        {% endif %}
                        <h4>{{choice.name}}
                        {% if choice.store %}
                            (Store)
                        {% else %}
                            (Personal Place)
                        {% endif %}</h4>
                        {{choice.address}}<br/>
                        {{choice.apt}}<br/>
                        {{choice.city}}, {{choice.state}} {{choice.zipcode}}<br/>
                        {{choice.country}}<br/>

                    </label>
                </div></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h5>No collection point is avaliable at this time!</h5>
{% endif %}
