{% extends "main/base_site.html" %}
{% load i18n static %}
{% load mathfilters %}

{% block title%}
{% trans 'Payment Process' %}
{% endblock%}

{% block content %}
<div class="w3-panel w3-margin-top content_center">
    <div class="text-xxlarge-bold">{% trans 'My Payment' %}</div>
</div>
<hr/>
<div class="w3-panel w3-margin-top content_center">
  <div class="w3-panel">
    <div class="w3-right">
        {% if orderSet.coupon or orderSet.insurance %}

              <div id="amount_block">{% trans 'Packages Amount'%}:
                <span class="w3-right" id="package_amount">{{orderSet.total_amount|floatformat:"2"|safe}}</span>
              </div>
              <hr class="w3-border-black"/>

              {% if orderSet.coupon %}
                <div id="discount_block">{{orderSet.coupon.code}}(5% OFF):
                  <span class="w3-right" id="discount_amount">-{{discount_amount|floatformat:"2"|safe}}</span>
              </div>
                <hr class="w3-border-black"/>
              {% endif %}

              {% if orderSet.insurance %}
                <div id="insurance_block">{% trans 'Insurance'%}:
                  <span class="w3-right" id="instance_amount">{{orderSet.insurance|floatformat:"2"|safe}}</span>
                </div>

                <hr class="w3-border-black"/>
              {% endif %}

        {% endif %}


        <div id="amount_block">{% trans 'Total Amount' %}({{orderSet.currency}}):
          <span class="w3-right" id="id_total_amount">{{orderSet.total_amount|add:orderSet.insurance|sub:discount_amount|floatformat:"2"|safe}}</span>
        </div>
          {{form.render}}
        <br/>
      </div>
    </div>

    <h4 class="w3-center aside-bar-background-color">{% trans 'Package(s)' %}</h4>
    <table class="w3-mobile" style="width:100%; overflow:auto; max-height:400px;">
        <tbody>

          {% if orderSet.parentpackage_set.all %}
              {% for package in orderSet.parentpackage_set.all %}

                <tr class="w3-cell-row"><td class="w3-cell w3-rest">
                      {% include "blocks/cart_direct_packages.html" with package=package %}
                </td></tr>

              {% endfor %}
          {% endif %}


            {% if orderSet.service_set.all %}
                {% for package in orderSet.service_set.all %}

                  <tr class="w3-cell-row"><td class="w3-cell w3-rest">
                    {% if package.order %}
                        {% include "blocks/cart_order.html" with package=package %}
                    {% else %}
                        {% include "blocks/cart_coshipping.html" with package=package %}
                    {% endif %}
                  </td></tr>
                {% endfor %}
            {% endif %}

      </tbody>
    </table>
  </div>
<script src="{% static 'js/package_cart1.js' %}"></script>
{% endblock %}
