{% extends "main/base_site.html" %}
{% load i18n static %}


{% block title%}
{% trans 'Enter Weight' %}
{% endblock%}



{% block content %}
<div class="w3-container  w3-cell w3-mobile" style="width:70%;">
      <div class="w3-panel content_center">
        {% if parent_package.service_set.all %}
          <ul>
            {% for sub in parent_package.service_set.all %}
            <li>
              <a class="w3-text-blue" href="{{sub.get_absolute_url}}">{{sub.get_cust_carrier_display}} - {{sub.cust_tracking_num}}</a>:{{sub.ship_to_add}}{{sub.ship_to_col}}
              {% if sub.issue %}
                  <span class="w3-text-red">({% trans 'has issue(s)' %})</span>
              {% endif %}
              {% if not sub.wh_received_date %}
                  <span class="w3-text-red">({% trans 'NOT RECEIVED YET' %})</span>
              {% else %}
                  {{sub.wh_received_date | timeuntil}}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
</div>
{% endblock %}




{% block sidebar %}

<div class="w3-container w3-cell w3-mobile w3-margin-top">
    <div class="w3-card-2 w3-round w3-container w3-padding-16">
      <div class="text-xxlarge-bold">{% trans 'Enter Weight' %}</div>
      <form method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors %}
          <p class="errornote">
              {% if form.errors.items|length == 1 %}
                  {% trans "Please correct the error below." %}
              {% else %}
                  {% trans "Please correct the errors below." %}
              {% endif %}
          </p>
      {% endif %}
      <div class="w3-mobile">
          <div class="w3-row text-medium">
            {% trans 'Volume' %}
          </div>
            <div class="w3-row" >
              {{ vol_form.length }}
            </div>
            <div class="w3-row" >
             {{ vol_form.width }}
            </div>
            <div  class="w3-row">
              {{ vol_form.height }}
            </div>
          <div class="w3-row">
              {{ form.weight.label_tag }} {{ form.weight.errors }} {{ form.weight }}
          </div>
          <div class="w3-row">
              {{ form.package_type.label_tag }} {{ form.package_type.errors }} {{ form.package_type }}
          </div>
          <div class="w3-row">
              {{ form.carrier.label_tag }} {{ form.carrier.errors }} {{ form.carrier }}
          </div>
          <div class="w3-row" id="button_row">
                  <input class="logo-blue" type = "submit" value = "{% trans 'Submit' %}"/>
          </div>
      </div>
      </form>

    </div>
</div>

{% endblock %}
