{% extends "warehouse/base.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Enter Issue' %}
{% endblock%}


{% block content %}
<div class="w3-panel w3-margin-top content_center">

  <h2>{{package.cust_tracking_num}}
   - {{package.get_cust_carrier_display}}
  </h2>
</div>
<hr/>

<div class="w3-panel w3-margin-top content_center">

    <div class="w3-panel">
      <div class="text-large-bold">{% trans 'Enter Issue' %}</div>
      <form method = "post" enctype="multipart/form-data">
      {% csrf_token %}
          <textarea id="id_issue" name="issue" class="w3-input w3-border w3-panel" name="content" rows="5" required="">        </textarea>
          <div class="w3-row">
            <div class="w3-right">
              <input class="logo-blue" type = "submit" value = "{% trans 'Submit' %}"/>
            </div>
          </div>

      </form>
    </div>
</div>
{% endblock %}
