{% extends "warehouse/base.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Ready Direct Shipping Packages' %}
{% endblock%}

{% block content %}
<div class="w3-panel w3-margin-top">
    <div class="text-xxlarge-bold">{% trans 'Ready Direct Shipping Packages' %}</div>
</div>
<hr/>

<div class="w3-panel w3-margin-top">

    <div class="w3-row">
        {% if packages %}
            <table class="w3-mobile  w3-table" style="width:100%; overflow:auto; max-height:400px;">
                  <tr class="w3-border-bottom w3-border-grey">
                      <th>{% trans 'Parent Package' %}</th>
                      <th>{% trans 'Tracking Number' %}</th>
                      <th>{% trans 'Carrier' %}</th>
                      <th>{% trans 'User' %}</th>
                      <th>{% trans 'Shipping Address' %}</th>
                      <th></th>
                  </tr>
                  {% for pack in packages %}
                    <tr class="w3-border-bottom w3-border-grey">
                      <td>{% if pack.parent_package %}<a href="{% url 'ship_parent_package' pack.parent_package.id %}">{{pack.parent_package}}</a>{% else %}N/A{% endif %}</td>
                    <td><a href="{{pack.get_absolute_url}}" target="_blank" >{{pack.cust_tracking_num}}</a></td>
                      <td>{{pack.get_cust_carrier_display}}</td>
                      <td>{{pack.user.username}}<br>{{pack.user.email}}</td>
                      <td>{{pack.ship_to_add}}</td>
                      <td>

                      </td>
                    </tr>
                  {% endfor %}
            </table>
        {% else %}
            {% trans 'No package'%}
        {% endif %}
    </div>
</div>
{% endblock %}
