{% extends "warehouse/base.html" %}
{% load i18n static %}

{% block title%}
{% trans 'Shipped Co-shipping Packages' %}
{% endblock%}


{% block content %}
<div class="w3-panel w3-margin-top">
    <div class="text-xxlarge-bold">{% trans 'Shipped Co-shipping Packages' %}</div>
</div>
<hr/>

<div class="w3-panel w3-margin-top">

    <div class="w3-panel">
        {% if packages %}
            <table class="w3-mobile" style="width:100%; overflow:auto; max-height:400px;">
                  <tr>
                    <th>{% trans 'Tracking Number' %}</th>
                    <th>{% trans 'Carrier' %}</th>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Collection Point' %}</th>
                    <th>{% trans 'Weight(KG)' %}</th>
                    <th></th>
                  </tr>
                  {% for pack in packages %}
                    <tr>
                      <td>{{pack.cust_tracking_num}}</td>
                      <td>{{pack.get_cust_carrier_display}}</td>
                      <td>{{pack.user}}</td>
                      <th>{{pack.ship_to_col}}</th>
                      <td>{{pack.weight}}</td>
                      <td>
                        <a href="{{pack.get_absolute_url}}" target="_blank" >{% trans 'View Details'%}</a>
                      </td>
                    </tr>
                  {% endfor %}
            </table>
        {% else %}
            {% trans 'No package'%}
        {% endif %}
    </div>
</div>
{% endblock %}
